<div class='article__wrap body-font-weight-from-global-settings article__container--alignment' {{ block.shopify_attributes }}>
  <div class='rte rte--blog-post article__content'>{{ article.content }}</div>
</div>
