
    {% assign ingredientList = list %}
    {% comment %} {% assign ingredientList = 'ashwagandha,apple,acai,banana,lemon,mango,pineapple,cinnamon,chocolate,mango,pineapple,cinnamon,chocolate,ashwagandha' | split: ','  %} {% endcomment %}
    {% assign ingredient_page_name = request.path | split: '/' %}
    {% for ingredient in ingredientList %}
        {% assign ingredient_handle = ingredient.heading | handle %}
        {% if request.path contains ingredient_handle %}
            {% assign carousel_index_start = forloop.index %}
        {% endif %}
    {% endfor %}
    <carousel-component
        class='carousel ingredient_list__carousel'        
      >
        <carousel-btn
            class='carousel-btn carousel__carousel-btn carousel__carousel-btn--prev'
            data-scroll-direction='prev'
            tabindex='{{ carousel_index_start }}'
            style="box-shadow: none;"
        >
            {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon x-flip' -%}
        </carousel-btn>
        <div class="carousel__viewport" data-carousel-viewport>
            <div class='carousel__container' data-carousel-container>
                {% for ingredient in ingredientList %}
                    <div class="ingredient_list_container carousel__slide">
                        {% assign ingredient_handle = ingredient.heading | handle %}
                        <a href="/pages/{{ ingredient_handle }}" class="ingredient {% if request.path contains ingredient_handle %} active {% endif %}">{{ ingredient.heading | upcase }}</a>
                    </div>            
                {% endfor %}
            </div>
        </div>
        <carousel-btn
            class='carousel-btn carousel__carousel-btn carousel__carousel-btn--next'
            data-scroll-direction='next'
            tabindex='0'
            style="box-shadow: none;"
        >
            {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon' -%}
        </carousel-btn>
          
    </carousel-component>
