{%- liquid
  assign placeholder_type = placeholder_type | default: 'lifestyle-2'
-%}
{{ video }}
<div class='media {{ class }}'>
  {%- if with_overlay -%}
    <div class='overlay'></div>
  {%- endif -%}

  {%- if video != blank -%}
    {% render 'video-with-alt', video: video, class: 'image media__image' %}
  {%- elsif image != blank -%}
    <img
      class='image media__image lazyload'
      data-parent-fit='cover'
      {% render 'image-attributes', image: image %}
    >
  {%- endif -%}

  {%- if image == blank and video == blank -%}
    {{
      placeholder_type
      | placeholder_svg_tag: 'placeholder-image placeholder-image--with-content image media__image media__image-placeholder'
    }}
  {%- endif -%}
</div>
