<div class="subscription-mob">
    <mob-subscriptions>
      <script id="mob-subscription-data" type="text/json">
        {
          "data":{% render 'subscription-json' %}
        }
      </script>
    </mob-subscriptions> 
  </div>