<div class="subscription-desktop">
    <subscriptions>
      <script id="subscription-data" type="text/json">
        {
          "data":{% render 'subscription-json'%}
        }
      </script>
    </subscriptions> 
  </div>