<div class="variantSubscription-desktop">
    <variant>
      <script id="variant-data" type="text/json">
        {
          "data":{% render 'variant-json', product: product %}
        }
      </script>
    </variant> 
  </div>