
.article-card {
    &__title {
      @include use-text-style('heading-4');

      @include xss-breakpoint {
        font-size: var(--paragraph-lead-font-size);
      }
      @include md-breakpoint {
        font-size: var(--heading-5-font-size);
        line-height:var(--heading-5-line-height);
      }
      @include lg-breakpoint {
        font-size: var(--heading-4-font-size);
        line-height:var(--heading-4-line-height);
      }
    }
}