.card-carousel {
    &__slide {
        align-items: stretch;
        padding-left: 24px;
        @include xss-breakpoint {
            min-width: 80%;
            width: 80%;
        }

        min-width: 65%;
        width: 65%;

        @include sm-breakpoint {
            min-width: 33%;
            width: 33%;
        }

        @include md-breakpoint {
            min-width: 33%;
            width: 33%;
            padding-left: 32px;
        }
    
        @include lg-breakpoint {
            min-width: 25%;
            width: 25%;
            padding-left: 56px;
        }
    }


    &__carousel-btn--prev {
        left: 0;
    }

    &__carousel-btn--next {
        right: 0
    }

    &__position-btn-wrap {
        &--prev {
            left: -24px;
        }

        &--next {
            right: -19px;
            @include md-breakpoint {
                right: -22px;
            }
            @include lg-breakpoint {
                right: -22px; 
            }
        }
    }

    &__container {
        margin-left: -24px;

        @include md-breakpoint {
            margin-left: -32px;
        }
    
        @include lg-breakpoint {
            margin-left: -56px;
        }
    }
}

.product__info-wrapper .card-carousel .card-carousel__container {
    margin-left: 0 !important;
}

.card-carousel__position-btn-wrap {
    min-width: 56px;

    @include sm-breakpoint {
        top: 18%;
    }

    @include md-breakpoint {
        top: 12%;
    }

    @include lg-breakpoint {
        top:22%
    }

    @include xl-breakpoint {
        top:32%
    }
    
}
