.card-carousel {
    &__slide {
        align-items: stretch;
    }

    &__carousel-btn--prev {
        // left: -20px;
        left:0;
    }

    &__carousel-btn--next {
        // right: -20px;
        right:0
    }
}