@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/global/_mixins';

.subscription-container{

    &__value-tag{
        color: #FFFFFF;
        background: var(--gsc-button-background-color-100);
        width: 106px;
        padding: 4px 16px;
        margin-left: 10px;
    }

    &__subscription-wrapper{
        display: flex;
        border-radius: 5px;
        border: 1px solid var(--gsc-button-background-color-100);
        padding: 5px 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
        column-gap: 5px;

        .subscription-container__subs-text {
            display: flex;
            column-gap: 10px;

            input {
                width: 20px;
            }

            label {

                .subscribeSave__text {
                    padding-left: 5px;
                }
            }
        }
    }

    &__onetime-wrapper{
        display: flex;
        border-radius: 5px;
        border: 1px solid var(--gsc-button-background-color-100);
        padding: 20px 20px;
        align-items: center;
        justify-content: space-between;
    }
    // &__dropbtn{
    //     background-color: var(--gsc-button-background-color-100);
    //     color: white;
    //     padding: 6px 10px;
    //     border: none;
    //     cursor: pointer;
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     width: 100%;

    //     svg{
    //         width: 20px;
    //         height: 10px;
    //         stroke: #FFFFFF;
    //         rotate:180deg;
    //         }
    // }
    

    // &__dropdown{
    //     position: relative;
    //     display: inline-block;
    // }

    // &__dropdown-content {
    //     display: none;
    //     position: relative;
    //     background-color: #f1f1f1;
    //     min-width: 160px;
    //     z-index: 1;
    //   }

    // &__dropdown-content a {
    //     color: black;
    //     padding: 10px 5px;
    //     text-decoration: none;
    //     display: block;
    // }
  
   
input[type='radio'] {
        accent-color: var(--gsc-button-background-color-100);
    }
   &__dropbtn{
        background: transparent;
        display:flex;
        justify-content:center;
        align-items:center;
        color: var(--gsc-text-color-100);;
        border: none;
   }

}
// .show {
//     display:block;
// }

.select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

.select:focus{
  outline:none;
}