@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/global/_mixins';

.subscription-container{

    &__value-tag{
        color: #FFFFFF;
        background: var(--gsc-button-background-color-100);
        width: 106px;
        padding: 4px 14px;
        margin-left: 10px;
        font-family: var(--secondary-font);
    }
    
    &__subscription-wrapper{
        display: flex;
        border-radius: 5px;
        border: 1px solid var(--gsc-button-background-color-100);
        padding: 10px 5px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
        column-gap: 5px;
        @include lg-breakpoint{
            padding: 20px;
        }

        .subscription-container__subs-text {
            display: flex;
            align-items: center;
            @media(min-width:375px){
                column-gap: 10px;
            }
        
            label {
                .subscribeSave__text {
                    font-family: var(--primary-font-condensed);
                    font-size: 16px;
                    font-weight: 700;
                    @media (min-width:375px){
                        font-size: 20px;
                    }
                    @media (min-width:768px) and (max-width:1290px){
                        font-size: 16px;
                    }
                    @include lg-breakpoint{
                        font-size: 24px;
                    }
                }

                .subscription-container__dropdown {
                    display: flex;

                    svg {
                        margin-left: -7%;
                    }
                }
            }
        }
    }
    &__subs-price, &__oneTime-Price{
        font-family: var(--paragraph-font);
        font-weight: 600;
        @include lg-breakpoint{
            display: flex;
            column-gap: 10px;   
            align-items: center; 
        }
       
    }

    &__subs-compPrice{
        font-size: 14px;
    }
    &__subs-actualPrice{
       color: var(--gsc-button-background-color-100);
    }

    &__oneTime-Price{
        color:#353B35 ;
    }
    &__subs-actualPrice, &__oneTime-Price{
        @media (min-width:375px){
            font-size: 18px;
        }
    }

    &__onetime-wrapper{
        display: flex;
        border-radius: 5px;
        border: 1px solid var(--gsc-button-background-color-100);
        padding: 10px 5px;
        align-items: center;
        justify-content: space-between;
        @include lg-breakpoint{
            padding: 20px;
        }
    }

    &__oneTime-text{
        display: flex;
        font-family: var(--primary-font-condensed);
        font-size: 16px;
        font-weight: 700;
        align-items: center;
        column-gap: 5px;

        @media (min-width:375px){
            font-size: 20px;
            column-gap: 10px;
        }
        @media (min-width:768px) and (max-width:1290px){
            font-size: 16px;
        }
        @include lg-breakpoint{
            font-size: 24px;
            align-items: normal;
        }
    }
   
    input[type='radio'] {
        accent-color: var(--gsc-button-background-color-100);
        width: 20px;
        height: 20px;
        cursor: pointer;

        //testing
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: blue;
        width: 20px;
        height: 20px;
        border: 0.5px solid rgb(0, 0, 0);
        border-radius: 50%;
        position: relative;
    }
    input[type='radio'].active::before {
        position: absolute;
        content: "";
        top: 15%;
        left: 15%;
        height: 12.5px;
        width: 12.5px;
        background: #A7693C;
        border-radius: 50%;
    }
   &__dropbtn{
        cursor: pointer;
        background: transparent;
        display:flex;
        justify-content:center;
        align-items:center;
        color: var(--gsc-text-color-100);;
        border: none;
        font-family: var(--primary-font-condensed);
        font-size: 12px;

        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';

        @media (min-width:375px){
            font-size: 14px;
        }
        @include lg-breakpoint{
            font-size: 18px;
        }
   }
}

.select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

.select:focus{
  outline:none;
}