.upsell {
    &_product_main_wrap {
        margin-top:0;
    }
    &_product_heading {
        @include use-text-style('text-title');
        font-weight: 500;
    }
}

.product_upsell_container {
    .product-card__inner {
        max-width: 102px;
    }
    .product-card__btn {
        max-width: 150px;
    }
    .product-card__details-inner {
        justify-content: flex-start;
    }
}