@import 'Styles/global/_breakpoints';

@mixin section-container {
  padding: var(--section-top-spacing) var(--base-margin) var(--section-top-spacing) var(--base-margin);
}


@mixin container-alt {
  padding-left:  var(--base-alt-margin) !important;
  padding-right:  var(--base-alt-margin) !important;
}

@mixin container ($basemargin:var(--base-margin)) {
  max-width: calc(100% - 2*#{$basemargin});
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;

  @include xl-breakpoint {
    max-width: calc(1920px - 2*#{$basemargin});
  }
}

@mixin section-base-padding{
  padding-left:  var(--base-alt-margin) !important;
  padding-right:  var(--base-alt-margin) !important;
}

@mixin section-alt-container {
  padding: var(--section-top-spacing) var(--base-alt-margin) var(--section-top-spacing) var(--base-alt-margin);
}

@mixin no-padding {
  padding-left: 0 !important;
  padding-right:  0 !important;
}