@import 'Styles/components/product-card';
@import 'Styles/components/collection-card';

.sidebar {
    &-cart {
        &__header-title {
            @include use-text-style('body');
        }

        .subtotal__price, .subtotal__label {
            @include use-text-style('text-title-alt');
            
        @include md-breakpoint {
            font-size: var(--cta-font-size);
        }
        }

        .subtotal__content-wrap {
            padding-top: 18px;
        }

        .subtotal__tax-note {
            @include use-text-style('body-small');
            color: var(--color-black);
        }

        .subtotal__btn {
            @include use-text-style('cta');
        }
    }
}

.cart-item-quantity__button-icon {
    width: unset !important;
    height: unset !important;
}

.upsell_product_footer_main_info h4 {
    @include use-text-style('body-alt');
    font-weight: 600;
}
.cart-item-quantity__input {
    @include use-text-style('body');
}

.search-sidebar {
    &__body {
       font-family: var(--paragraph-font);
    }

    &-section {
        &__header-title {
            font-family: var(--paragraph-font);
            font-weight: 700;
        }
    }

    &__footer-button {
        @include use-text-style('cta');
    }
}

.cart-item {
    &__link {
        width: 123px;
    }

    &__pay-info {
      align-self: center;
    }
}

.sidebar-cart__footer .upsell_product_footer .cart-product__card .product-card__inner {
   width: 25%;
   height: 25%;
}

.sidebar-cart__footer .upsell_product_footer .cart-product__card {
    width: 80%; 
    align-items: center;
    @include md-breakpoint {
    width: 62%;
    }
}

.upsell_product_footer .cart-product__card {
    padding: 10px 20px 10px 10px!important;
}

.sidebar-cart__footer .upsell_product_footer .cart-product__card .product-card__details  {
    padding: 0;
}

.sidebar-cart__footer .subtotal__content {
    row-gap: 16px;
}