@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/global/_mixins';
@import 'Styles/components/section-header';
@import 'Styles/components/collection-card';

.collection-text {
    &__content {
        flex-wrap: wrap !important;
        justify-content: center; 
        text-align: center;

        @include md-breakpoint {
            justify-content: flex-start;
            align-self: center !important;
        }
    }

    &__container {
        padding: var(--section-top-spacing) 0;
        @include container(var(--base-alt-margin));

    }

    .btn {
        margin-bottom: 0;
        border: 2px solid var(--lead-secondary-color);
        padding-top: 15px;
        @include md-breakpoint {
            border: 2px solid var(--lead-secondary-color);
        }
    }
    .section-header__heading{
        text-align: center !important;

        @include md-breakpoint {
            text-align: left !important;
        }
    }


    .card-carousel {
        &__slide {
            @include sm-breakpoint {
                min-width: 50%;
                width: 50%;
               }

            @include md-breakpoint {
                min-width: 33%;
                width: 33%;
            }
            @include lg-breakpoint {
                min-width: 30%;
                width: 30%;
                padding-left: 24px;
            }
        }
        &__container {
            margin-left:  -24px;
        }
    }

    .card-carousel__position-btn-wrap .shape{
        padding-bottom: var(--image-portrait-padding);

        @include md-breakpoint {
            padding-bottom: calc(100% + 33%)
        }

        @include lg-breakpoint {
            padding-bottom:134%;
        }
    }

}