@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/components/section-header';
@import 'Styles/components/collection-card';

.collection-text {
    &__content {
        flex-wrap: wrap !important;
        justify-content: center; 

        @include md-breakpoint {
            justify-content: flex-start;
            align-self: center !important;
        }
    }

    &__container {
        padding: var(--section-top-spacing) var(--base-alt-margin);
        padding-right: 0;
    }

    .btn {
        margin-bottom: 0;
        border: 2px solid var(--lead-secondary-color);
        padding-top: 15px;
        @include md-breakpoint {
            border: 2px solid var(--lead-secondary-color);
        }
    }
    .section-header__heading{
        text-align: center !important;

        @include md-breakpoint {
            text-align: left !important;
        }
    }

}