@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/components/collection-card';
@import 'Styles/global/_mixins';

.collection-list {
    padding: var(--section-top-spacing) 0 var(--section-bottom-spacing);

    @include md-breakpoint {
        padding: var(--section-top-alt-spacing) 0 var(--section-s-bottom-spacing);
    }

    &__container {
        @include container(var(--base-alt-margin));
    }

    &__header {
        margin-bottom: 31px !important;
    }

    &__heading {
        @include use-text-style('heading-1');
        max-width: 60%;
    }

    &__link {
        display: flex;
        margin-left: auto;
        align-items: center;
        @include use-text-style('text-link');

        &:hover {
            color: var(--button-hover-background-color)
        }
    }

    .card-carousel {
        &__slide {
            @include md-breakpoint {
                padding-left: 24px;
            }
        }
        &__container {
            @include md-breakpoint {
                    margin-left: -24px;
            }
        }
    }


    .card-carousel__position-btn-wrap {
        display: none;
        @include sm-breakpoint {
            display: block;
            top: 30%;
        }

        @include md-breakpoint {
            top: 35%;
        }
    }
}