@import 'Token';
@import 'Styles/global/_mixins';
@import 'Styles/global/_breakpoints';

.fifty-fifty {
  @include section-container;
  color: var(--secondary-background-color);
  background: var(--color-black);

  &__img {
    max-width: 100%;

    @include md-breakpoint {
      max-width: 50%;
    }
  }

  &__description {
    text-align: left;
  }

  &__heading { 
    margin-bottom: 28px;
    margin-top: 20px;
    line-height: 1;


    @include xs-breakpoint; @include sm-breakpoint {
      margin-bottom: 36px;
      line-height: var(--heading-1-line-height);
      font-size: var(--heading-1-font-size);
     
    }

    @include md-breakpoint {
      margin-bottom: 36px;
      line-height: var(--heading-3-line-height);
      font-size: var(--heading-3-font-size);
      
    }

    @include lg-breakpoint {
      margin-bottom: 36px;
      line-height: var(--heading-2-line-height);
      font-size: var(--heading-2-font-size);
    
    }


    &--hide-mobile {
      display: block;

      @include md-breakpoint {
        display: block;
      }
    }


    &--hide-desktop {
      display: none;

      @include md-breakpoint {
        display: none;
      }
    }
  }

  &__text-content {
    max-width: 450px;

    @include sm-breakpoint {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    @include md-breakpoint {
      text-align: left;
      margin-right: 40px;
      margin-left: unset;
      width: 50%;
    }

  }

  &__content {
    @include md-breakpoint {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;

      &--reverse {
        flex-direction: row;

        .fifty-fifty__text-content {
          @include md-breakpoint {
            margin-left: 40px;
            margin-right: 0;
          }
        }
      }
    }
  }

  // &__wrapper {
  //   @include md-breakpoint {
  //     padding: 0 55px;
  //   }
  // }

}