@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/components/section-header';
@import 'Styles/components/ingrediants';
@import 'Styles/components/card-carousel';

.key-ingredients {
&__wrapper {

    padding: 40px var(--base-margin) 0;

    @include md-breakpoint {
     padding: 40px var(--base-alt-margin) 0px; 
    }
}

&__heading {
    margin-bottom: 24px;
    @include sm-breakpoint {
      margin-bottom: 40px;
    }
}
}