@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/global/_mixins';

.slideshow__carousel-container {
  min-height: unset;
}

.slideshow--without-dots {
  padding:0;
}

.image-banner {

  background: var(--background-color-rare);

  @include sm-breakpoint {
   background: var(--tritiary-backround-color); 
  }

    &__caption {
        display: none;
    }

    &__media {
      position: relative;
      width: 100%;
    }

    &__container-wrap {
      width: 100%;
    }

    &__content-wrap {
      @include container(var(--base-alt-margin));
      @include md-breakpoint {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    &__content {
      @include no-padding;
      --gsc-content-width: 43rem;
  
      @include sm-breakpoint {
        text-align: center;
      }

      // @include md-breakpoint {
      //   text-align: left;
      // }
    }

    &__content--mobile {
      text-align: left;
      padding-bottom: 40px;
    }

  &__container {
    padding:0 !important;
    flex-wrap: wrap;
    min-height: unset;
  }

  &__title {
    @include use-text-style('heading-1');
    font-weight: unset;
    @include md-breakpoint {
        line-height: var(--heading-2-line-height);
        font-size: var(--heading-2-font-size);
    }
    @include lg-breakpoint {
      line-height: var(--heading-1-line-height);
      font-size: var(--heading-1-font-size);
  }
    
  }

  &__text , &__text p{
    font-weight: var(--body-extrasmall-weight);
    @include use-text-style('body'); 
    // @include md-breakpoint {
    //   @include use-text-style('paragraph-lead');
    // }
  }

  &__btns {
    display: flex;
    align-items: center;
    column-gap: 52px;

    .btn, .link{
     @include use-text-style('cta');
     max-width: max-content;

     @include xss-breakpoint {
      font-size: var(--paragraph-lead-font-size);
     }
    }

    .link {
      color: var(--gsc-button-background-color-100);
      
      &__chevron {
        display: none;
      }
      &__text {
        border-bottom: 1px solid var(--gsc-button-background-color-100);
      }
    }

    // @include sm-breakpoint {
    //   justify-content: center;
    // }

    @include md-breakpoint {
      column-gap: 44px;
      // justify-content: flex-start;
    }

  }

  &__btn {
    align-self: center;
  }



  .media__image {
    position: relative;
  }
}