@import 'Styles/global/_breakpoints';

.text-block {
    padding: 40px var(--base-margin) 0;
    box-sizing: content-box;

    @include md-breakpoint {
        max-width: 760px;
        margin: 0 auto;
    }

    &__heading {
        text-align: center;
        line-height: var(--heading-1-line-height);
        font-size: var(--heading-1-font-size);
    }

    &__description {
       text-align: left;
       @include md-breakpoint {
        text-align: center;
       }
    }

    &__wrapper {
        justify-content: flex-start;
        @include sm-breakpoint {
            justify-content: center; 
        }
    }
}