@import 'Styles/global/_breakpoints';

.text-block {
    padding: 40px var(--base-margin) 0;
    box-sizing: content-box;

    @include md-breakpoint {
        max-width: 760px;
        margin: 0 auto;
    }

    &__heading {
        
        line-height: var(--heading-1-line-height);
        font-size: var(--heading-1-font-size);
    //     @include md-breakpoint {
    //         line-height: var(--heading-2-line-height);
    //         font-size: var(--heading-2-font-size);
    //     }
    //     @include lg-breakpoint {
    //       line-height: var(--heading-1-line-height);
    //       font-size: var(--heading-1-font-size);
    //   }
    }

    &__description {
        font-weight:var(--body-extrasmall-weight) ;
       @include md-breakpoint {
        text-align: center;
       }
    }

    &__wrapper {
        justify-content: flex-start;
        text-align: center;
        @include sm-breakpoint {
            justify-content: center; 
        }
    }
}