@import 'Styles/global/_breakpoints';

.text-block {
    padding: 40px var(--base-margin);
    text-align: left;
    box-sizing: content-box;
    @include md-breakpoint {
        text-align: center;
        max-width: 702px;
        margin: 0 auto;
    }

    &__wrapper {
        justify-content: flex-start;
        @include md-breakpoint {
            justify-content: center;
        }
    }
}