@import 'Token';
@import 'Styles/global/_breakpoints';

.text-with-image {
    &__content {
        display: block !important;
        .section-header__description{
            text-align: center;
        }
    }

    &__container {
        max-width: 1170px;
        margin: 0 auto;
        height: 100%;
        padding: var(--section-top-spacing) var(--base-alt-margin);

        .subheading-for-image {
            @include use-text-style('paragraph-lead');

            @include xs-breakpoint {
                font-size: 15px;
                line-height:1.2;
            }

            @include md-breakpoint {
                @include use-text-style('text-title');
            }

            font-family: var(--primary-font-condensed);
            font-weight: 700;
        }

        .side-imagespart {
            align-items: flex-start;
            justify-content: space-between;
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;

            @include sm-breakpoint {
                margin-top: 32px;
            }

            @include md-breakpoint {
                align-items: flex-start;
                justify-content: center;
                max-width: 100%;
            }
        }

        .image-wrapper__info {
            img {
                max-width: 100%;
            }
        }

        .text-with-image__icon {
            margin: 0 auto 20px;
        }

        .side-textpart .text--with-image__btn {
            align-self: center;
            margin-top: 30px;
            padding: 15px 40px 12px;
            text-transform: uppercase;
 
            @include md-breakpoint {
              min-width: 180px;
            }
        }

        .image-subtext-wrap {
            flex-basis: 34%;

            @include sm-breakpoint {
                flex-basis: 19%;
            }
        }

        .side-textpart {
            text-align: center;
        }

        @include sm-breakpoint {
            padding: var(--section-top-alt-spacing) var(--base-margin);
        }

        @include md-breakpoint {
            padding: var(--section-top-spacing) var(--base-margin);
        }
    }
}