.account *,
.login *,
#login * {
    font-family: var(--paragraph-font);
}

.account {
        .btn {
            padding: 0.8rem 3.2rem !important;
        }
}
$color_1: var(--color-black);
$font-family_1: "BrownStd-Regular";

.login__content {
    .login__title {
        font-size: 38px;
        color: $color_1;
    }
    .login__text {
        display: none;
    }
}
.login__field {
    .label {
        font-size: 18px;
        color: $color_1;
    }
    .field__link {
        font-size: 14px;
        font-family: $font-family_1;
    }
}
.login__btns {
    .btn {
        font-size: 16px;
    }
}
.login__footer {
    font-family: $font-family_1;
    font-size: 14px;
}
#rc_login {
    font-size: 18px;
    color: $color_1;
}
.account-menu {
    .account-menu__title {
        font-family: $font-family_1;
    }
}
.account__content {
    .addresses__header {
        color: $color_1;
    }
    .addresses__form-title {
        color: $color_1;
    }
}
.addresses__form-field {
    .label {
        color: $color_1;
    }
    label {
        span {
            color: $color_1;
        }
    }
}
.addresses__address-details {
    .addresses__default-label {
        font-family: $font-family_1;
    }
}
.addresses__address-details-item {
    font-family: $font-family_1;
}
