@import 'Token';
@import 'Styles/global/_mixins';
@import 'Styles/global/_breakpoints';

.article {
    &__blocks{
      row-gap: 2rem;
     @include xs-min-breakpoint{
      row-gap: 2.4rem;
     }
    }
    &__title {
      @include use-text-style('section-heading');
      line-height: 1.3;
    }
    
    &__content {
      font-family: var(--secondary-font) !important;
      padding-bottom: 0;
        
      h2 {
        @include use-text-style('nav-heading');
        font-family: var(--secondary-font) ;
        line-height: 1.2;
        @include sm-breakpoint{
          @include use-text-style('text-title');
          font-family: var(--secondary-font) ;
        }
        }
        
        h3 {
          @include use-text-style('nav-heading');
          font-family: var(--secondary-font) ;
          line-height: 1.2;
          @include sm-breakpoint{
            @include use-text-style('text-title');
            font-family: var(--secondary-font) ;
          }
          }

      h4{
        @include use-text-style('nav-heading');
        line-height: 1.2;
        font-family: var(--secondary-font);
      }
      p,li {
        @include use-text-style('body');
        font-weight: var(--body-small-weight);
      }

      li::marker {
        @include use-text-style('nav-heading');
        font-family: var(--secondary-font) ;
      }

      ol.no-list {
        list-style:  disc;

        li::marker {
            font-size: unset;
        }
      }
      ol{
        margin: 40px 0 20px 0;
        @include sm-breakpoint{
          margin: 40px 0;
        }
      }
    }

   &__container {
     @include container(var(--base-alt-margin));

     @include md-breakpoint {
        max-width: 884px;
     }
    }

    &__wrap {
        max-width: 614px;
        margin-left: auto;
        margin-right: auto;

        @include md-breakpoint {
         padding: 0 45px;
         max-width: 884px;
        }
        @include xl-breakpoint {
          padding: 0;
         }
    }

    &-meta {
        font-family: var(--paragraph-font);
        font-size: 12px;
        &__item {
            &::before {
                font-size: 10px;
            }
        }
    }

   &-comments {
    margin-top: 40px;

    @include sm-breakpoint {
      margin-left: 40px;
      margin-right: 40px;
    }

    @include md-breakpoint {
        margin-left: 0;
        margin-right: 0;
    }
     &__comment-form {
        margin-top: 0;
        &__title {
            @include use-text-style('text-title-alt');
        }
     }
   }
  }


.comment-form {
    margin-top: 0;
    &__title {
        @include use-text-style('text-title-alt');
    }
    &__field {
    
        @include use-text-style('body');
        font-weight: 400;
        &-group {
        gap: 12px;
        }
        input, textarea{
          border: 1px solid #C5C5C5 !important;
        }
    }
    &__note {
        @include use-text-style('body-extra-small');
        font-weight: 400;
        margin-bottom: 22px;
        margin-top: 12px;
    }
    &__body {
     margin-top: 24px;
     margin-bottom: 24px;

    }
    margin-bottom: var(--section-top-large-spacing);
 }

 .image-banner__btn  {
    @include use-text-style('cta');
    max-width: 236px;
    padding-top: 14px;
 }

.blogs_home-link, .article-footer-posts__post-link {
    padding: 28px  0 12px 0;
    .link {
      color:#9A9A9A;
      text-transform: none;
      font-size: 12px;
      line-height: 22px;
      font-weight: 400;
      @include xss-min-breakpoint{
        font-size: 15px;
      }
      span{
        font-family: var(--paragraph-font);
      }
      svg {
        transform: rotate(180deg);
        // margin-left: -8px;
      }

      &:hover {
        color:  var(--color-black) !important;
      }
    }
}

.article-footer-posts_post--next .link__chevron {
  transform: rotate(360deg) !important;
}

.article-footer-posts_post {
  max-width: 100% !important;
}

.article-footer-posts_post--next .link {
  margin-bottom: 6px;
}

.blogs_home-link {
  padding-bottom: 12px;
}

.collection {
    max-width: 678px;
    margin-left: auto;
    margin-right: auto;

    @include md-breakpoint {
      max-width: 884px;
    }

.collection__container {
    .card-carousel__slide  {
        @include sm-breakpoint {
            min-width: 33%;
        }
    }
}
}

.article-footer-posts__post-title {
    @include use-text-style('body-small');
    font-weight: 400;
    color: #9A9A9A;
    text-transform: none; 
}

.article-footer-posts__post-link {
   padding:0
}

.article-footer-panel {
    margin-bottom: 40px;
}

// .article__content ol,
 .article__content ul {
  @include xss-breakpoint {
    padding-left: 45px;
  }
  padding-left: 30px;
}



.article__image-wrap  {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.article-comments__wrap{
  @include md-breakpoint{
    padding-left: 0 !important;
  }
  
}

.article__container--alignment{
  margin-left: unset;
  margin-right: unset;
}