@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/global/_mixins';

.page_title {
    @include use-text-style('heading-1');
    text-align: center;

    &_container {
        padding: 40px var(--base-margin) 20px;

        @include md-breakpoint {
            padding: 60px var(--base-margin) 46px;
        }
    }
}

.featured-article {
    &__title {
        @include use-text-style('section-heading');

        @include md-breakpoint {
            @include use-text-style('heading-4');
            line-height: 39px;
            margin-top: 0;
        }


        letter-spacing: 1.4px;
        line-height: 28px;
    }


    &__text {
        @include use-text-style('body');

        @include md-breakpoint {
            @include use-text-style('text-title-alt');
            text-align: left;
            font-family: var(--paragraph-font);
        }

        font-weight: 400 !important;
        letter-spacing: 0.9px;
    }

    &__link {
        @include use-text-style('text-link');
        line-height: 31px;
        height: unset;
        font-weight: 400;
        max-height: 245px;
        font-family: var(--paragraph-font);
    
        @include sm-breakpoint {
            align-self: center;
            padding-right: 48px;
            font-size: var(--body-font-size);
        }

        @include md-breakpoint {
            @include use-text-style('text-title-alt');
            height: 100%;
            max-height: 371px;
            align-self: center;
            padding-right: 85px;
            font-family: var(--paragraph-font);
            max-width: 550px;
            margin-left: auto;
            box-sizing: content-box;
            font-size: var(--text-title-alt);
        }

        .link__text {
            border-color: #fff;
        }
    }

    &__details-wrap {
        padding-bottom: 40px;
        align-items: flex-start;

        @include sm-breakpoint {
            padding: 0 48px 0 48px;
            align-items: center;
        }

        @include md-breakpoint {
            padding: 0 85px 80px;
        }
    }

    &__btns {
        display: none;

        @include md-breakpoint {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        &-wrap {
            position: absolute;
            top: 50%;
            z-index: 1;
            width: 100%;
        }
    }

    &__carousel-btn {
        color: #fff;
        position: absolute;

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.7;
        }

        background-color: var(--lead-secondary-color) !important;

        &--next {
            margin-right: -28px;
            right: 0;
        }

        &--prev {
            margin-left: -28px;
        }
    }

    background: #BA835B;
}

.featured-articles {
    &__container {
        @include container(var(--base-alt-margin));

        .featured-article__btns-wrap {
            top: 30%;
            right: 3%;

            .featured-article__btns {
                display: block;
                .carousel-btn{
                    @include  xs-breakpoint{
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }

            .featured-article__carousel-btn--next {
                margin-right: 0;

                @include sm-breakpoint {
                    margin-right: -28px
                }

            }

            .featured-article__carousel-btn--prev {
                margin-left: 14px;

                @include sm-breakpoint {
                    margin-left: -28px;
                }
            }

            @include sm-breakpoint {
                top: 45%;
                right: unset;
                transform: translateY(-50%)
            }
        }
    }
}

.articles {
    &__tag {
        text-transform: uppercase;
        @include use-text-style('nav-item');
        color: var(--color-black);
        @include md-breakpoint {
            @include use-text-style('text-title');
            font-weight: 600;
           
        }
    }
    

    &__header {

        margin-bottom: 40px !important;
        margin-top: 0 !important;

        @include md-breakpoint {
            margin-bottom: 80px !important;
            margin-top: 30px !important;
        }
    }

    &__container {
        padding-top: 14px !important;
        @include container(var(--base-alt-margin))
    }

    &__card-grid-wrap {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.article {
    &-card {
        &__title {
            @include use-text-style('text-title-alt');
            text-transform: none !important;
            line-height: 1.2;

            @include md-breakpoint {
                @include use-text-style('text-title');
                font-family: var(--secondary-font);
                line-height: 1.2;
            }
        }

        &__read-more-link {
            @include use-text-style('body');
            color: var(--color-black);

            .link__text {
                border-color: var(--color-black);
            }

            font-weight: 400 !important;
        }

        &__icon {
            display: none;
        }

        .shape {
            padding-bottom: 63%;
        }
    }
}

.featured-articles__carousel-container {

    @include sm-breakpoint {
        max-height: 360px;
    }

    @include md-breakpoint {
        max-height: 561px;
    }
}

.load-button-pagination__btn {
    @include use-text-style('cta')
}

.load-button-pagination__count {
  display:  none;
}



.load-button-pagination__btn {
   @include use-text-style('cta');
   border:0;
   max-width: max-content !important;
   width: max-content !important;
   height: unset !important;
   padding-left: 0;
   padding-right: 0;
   padding-bottom: 0;
   text-decoration: underline;
   background: transparent !important;

   @include xss-breakpoint {
    font-size: var(--paragraph-lead-font-size);
   }

   &:hover {
    border: 0;
    box-shadow: none !important; 
   }
}

