@import 'Token';
@import 'Styles/global/_breakpoints';
@import  'Styles/components/filters';
@import 'Styles/components/product-card';

.collection {
    &-custom__title {
        @include use-text-style('section-heading');
    }
}

.shop__container  {
    padding-top: 27px;

    @include md-breakpoint {
        padding-top: 52px;
    }

}

.product-card__inner {
    @include md-breakpoint {
       padding-bottom: 144%;
    }
}

.shop__filters-btn-label{
    color: #000;
}

// collection filter oveerride , do no touch!!

.shop__filters-btn-wrapper--desktop {
    @include sm-breakpoint {
        display: none !important;
    }

    @include md-breakpoint {
        display: flex !important;
    }
}

.shop__filters-btn-wrapper--mobile, .shop__filters-btn[data-aria-expanded=true] .icon-filter__square {
    @include sm-breakpoint {
        display: block !important;
    }

    @include md-breakpoint {
        display: none !important;
    }
}

.sidebar-filters--desktop {
    @include sm-breakpoint {
        display: none !important;
    }

    @include md-breakpoint {
        display: block !important;
    }
}

.sidebar-filters--mobile {
    @include sm-breakpoint {
        display: block !important;
        left:0 !important;
        // max-width: 80%;
    }

    @include lg-breakpoint {
        display: none !important;
    }
}