@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/global/_mixins';

.image-banner__content, .ingredient__contents {
    .h2 {
      @include use-text-style('heading-1');
      text-align: left;
      @include sm-breakpoint {
        color: var(--secondary-background-color);
      }
    }

    .ingredient-desc {
        @include use-text-style('body-alt');
        font-weight: 700;
        text-align: center;
        color: var(--color-black);

        @include sm-breakpoint {
            color: var(--secondary-background-color);
          }

        @include md-breakpoint {
            @include use-text-style('paragraph-lead');
        }
    }

    .icon-text-wrapper {
        column-gap: 60px;
        .icon-wrap svg {
            height: 60px;
            width: 65px;
            margin: 0 auto;
            path , circle {
              stroke: var(--color-black);
              fill: var(--color-black);

              @include sm-breakpoint {
                stroke: #fff;
                fill: #fff;
              }
            }

            @include md-breakpoint {
                height: 116px;
                width: 116px;
            }
        }

        @include sm-breakpoint {
            column-gap: 48px;
            margin-top: 45px;
            justify-content: flex-start;
        }

        @include md-breakpoint {
            margin-top: 0px;
        }

        @include lg-breakpoint {
            column-gap: 115px;
            margin-top: 0px;
        }
    }

    .text-wrapper__info p{
        @include use-text-style('paragraph-lead');
        font-family: var(--primary-font-condensed) !important;
        font-weight: 700;

        @include md-breakpoint {
           @include use-text-style('cta');
           font-weight: 700;
        }
    }
}

.ingredient__contents {
    @include md-breakpoint {
        display: flex;
        justify-content: space-between;
        width: 100% !important;
    }
}

.ingredientdb-banner__content-wrap {
    @include no-padding;
    justify-content: space-between !important;

    @include lg-breakpoint {
        padding-left: 65px !important;
        padding-right: 65px !important;
    }
}

.image-banner__text-content {
    max-width: 420px;
}


.ingredients {
   &_content_info {
    margin-top: 16px !important;
    h4 {
        @include use-text-style('text-title-alt');
        font-family: var(--primary-font-condensed);
        @include md-breakpoint {
            @include use-text-style('text-title');
        }
        line-height: 1.2 !important;
    }

    @include md-breakpoint {
        margin-top: 20px !important
    }
   }
}

.pagination_load_btn {
    @include use-text-style('cta');
}

.load_more_button_update {
    @include use-text-style('body-small');
}

.ingredientdb__hero_image-mobile, .ingredientdb__hero_image-mobile img{
  max-height: 225px;
  line-height: 1;
}


.ingredients_image_wrap {
    // height: 235px;
    // width: 235px;
}

.ingredients-database-item 
{
    padding:0 !important;
    margin: 0 !important;
    @include md-breakpoint {
        // max-width: 235px;
        margin-top: 0 !important;
    }

    .ingredients_content_info{
        .tag_wrap{
            @include use-text-style('body-extra-small');
            color :#353B35;
            @include md-breakpoint{
                @include use-text-style('body-small');   
            }
            @media(min-width:1680px){
                @include use-text-style('body-alt');   
            }
           
        }
        h4{
            color:#000;
            text-transform: uppercase;
        }
    }
}

.ingredients-database-section  {
    padding-top: var(--section-top-spacing);

    @include md-breakpoint {
        padding-top: 104px;
    }
}

.ingredients-database {
    
    // justify-content: space-around !important;
    column-gap: 20px;
    row-gap: 40px;

    &__container {
        @include container(var(--base-alt-margin));
    }

    @include md-breakpoint {
        // justify-content: space-between; 
        column-gap: 40px;
        row-gap: 60px;
       padding: 0 50px;
    }
    @include xl-breakpoint {
       padding: 0 70px;
    }
}

.ingredientdb-banner__container-wrap {
    @include container(var(--base-medium-margin));
    width: 100%;

    @include sm-breakpoint {
        justify-content: center !important;
        .image-banner__text-content {
            margin-left: auto;
            margin-right: auto;
        }
        .image-banner__text-content * {
            text-align: center;
        }
        .icon-text-wrapper {
            justify-content: center;
        }
    }


    @include md-breakpoint {
        justify-content: space-between !important;
        .image-banner__text-content {
            margin-left: unset;
            margin-right: auto;
        }
        .image-banner__text-content * {
            text-align: left;
        }
        .icon-text-wrapper {
            justify-content: flex-start;
        }
    }
}

.image-banner__content--mobile {
    background-color: var(--background-color-rare);
 }



