@import 'Token';
@import 'Styles/global/_mixins';
@import 'Styles/global/_breakpoints';
@import 'Styles/components/collapsable';
@import 'Styles/components/accordion';

.faq {
   &__content {
     @include use-text-style('heading-1');
     &-heading {
        @include use-text-style('heading-1');
     }
   }
}

.section-header__heading {
    @include use-text-style('heading-1');
}

.collapsable .section_heading {
   text-align: left !important;
   padding: 15px 20px !important;
   background: var(--secondary-background-color) !important;
   color: var(--color-black) !important;
   @include md-breakpoint {
      padding:  9px 40px !important;
   }
}

.collapsable {
   background: white !important;
}

.text-block {
   padding-bottom: 20px !important;
   text-align: center !important;
}