@import 'Token';
@import 'Styles/global/_breakpoints';
@import 'Styles/components/section-header';
@import 'Styles/components/product-card';
@import 'Styles/components/hero';


.ingrediants {
    &__hero {
        position: relative;
    }
    &__content-wrap {
        position: absolute;
    }

    //sections
    //Todo: Create seperate file for each section  but i dont feel like these will be reusual sections so set them here for now
    &__breadcrumbs {
        margin-bottom: 87px;

        &-link {
            @include use-text-style('cta');

            @include md-breakpoint {
                @include use-text-style('text-title');
            }

            text-transform: uppercase;
        }

        @include md-breakpoint {
            margin-bottom: 110px;
        }
    }
    &__description {
        &-content {
            padding-top: 28px;

            @include md-breakpoint {
                padding-top: 60px;
            }

            @include use-text-style('body-alt');
            color: var(--color-black);

            img {
                width: 100%;
            }
        }

        &-container {
            padding: 0 0;
            @include container(var(--base-large-margin))
        }
    }
    &__benefits {
        background-color: var(--secondary-background-color);
        margin-top: 115px;
        @include sm-breakpoint {
            margin-top: 150px
        }

        &-wrapper {
            padding: 0 10px 40px;
            @include container(var(--base-large-margin));
            @include lg-breakpoint {
                display: flex;
                // flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 0;
                column-gap: 170px;
            }
        }

        &-container {
            position: relative;

            @include lg-breakpoint {
                max-width: 63%;
                width: 100%;
            }
        }

        &-image {
            width: 120px;
            height: 120px;
            border: 3px solid #fff;
            border-radius: 50%;
            margin-top: -62px;

            @include sm-breakpoint {
                width: 170px;
                height: 170px;
                margin-top: -102px;
            }
        }

        &-title {
            @include use-text-style('text-title-alt');

            @include sm-breakpoint {
                @include use-text-style('heading-2');
            }
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
            column-gap: 120px;
            row-gap: 40px;

            @include xss-breakpoint {
                padding:0;
            }

            padding: 0 40px;

            @include lg-breakpoint {
                grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
                column-gap: 120px;
                justify-content: flex-start;
                padding: 0;
            }
        }

        &-header {
            margin-bottom: 40px;
            display: block;
            text-align: center;

            @include md-breakpoint {
                margin-bottom: 0;
                padding-bottom: 40px;
                text-align: left;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-image {
                width: 60px;
                height: 60px;

                @include md-breakpoint {
                    width: 70px;
                    height: 70px;
                }
            }

            &-text {
                @include use-text-style('paragraph-lead');
                font-family: var(--primary-font-condensed);
                font-weight: 700;
                margin-top: 12px;

                @include md-breakpoint {
                    @include use-text-style('cta');
                }
            }
        }
    }
    &__science-behind-benefits {
      padding: 15px 0 40px;
      @include container(var(--base-large-margin));

      @include md-breakpoint {
        padding: 60px 0;
      }

      &-contents {
        margin-top: 48px;
      }

      &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
      }
      &-icon {
        svg {
        width: 45px;
        height: 50px;
        }
      }

      &-text-content {
        width: 80%;
        max-width: 600px;

        @include md-breakpoint {
            max-width: 100%;
            width: 92%;
        }
      }

      &-description{
        @include use-text-style('paragraph-lead');
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 600;
      }

      &-teaser {
        display: flex;
        flex-wrap: wrap;
        margin-top: 12px;
        align-items: center;
        &-text {
            @include use-text-style ('paragraph-lead');
            font-weight: 400;
        }

        &-link {
            @include use-text-style('paragraph-lead');
            font-family: var(--primary-font-condensed);
            font-weight: 600;
            margin-left: 16px;
            color: var(--lead-secondary-color);
            text-decoration: underline;
            padding-top: 2px;

            @include md-breakpoint {
                @include use-text-style('cta');
            }
        }
      }
     &-section-title {
        @include md-breakpoint {
           font-size: var(--heading-4-font-size) !important;
        }
     }
    }
}

.collection__card-carousel {
    border-color:  var(--lead-secondary-color) !important;
}

.collection  .collection__container {
    padding-top: 40px !important;
    border-top:  1px solid var(--lead-secondary-color);
    border-bottom:  1px solid var(--lead-secondary-color);
    margin: 40px auto 0;

    @include container(var(--base-large-margin));

    .card-carousel__slide {
        @include md-breakpoint {
            min-width: 25%;
            width: 100%;
            padding-left: 73px;
        }
    }
}

.hero__image {
    max-height: 284px;
}

.hero__title {
  @include use-text-style ('heading-2');
  @include md-breakpoint {
    @include use-text-style('heading-large');
   }
}

.collection__header  {
    .section-header__heading.h5 {
        @include md-breakpoint {
           @include use-text-style('heading-2');
        }
    }
}


