@import "Token";
@import "Styles/global/_breakpoints";
@import "Styles/global/_mixins";
@import "Styles/components/upsell";
@import "Styles/components/product-card";

.product {
    &-mobile-media {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    &-desktop-media {
        position: sticky;
        top: 0;
        max-width: 550px;
    }

    &__title {
        @include use-text-style("nav-heading");
        @include md-breakpoint {
            @include use-text-style("heading-2");
        }
        font-family: var(--secondary-font);
    }

    &-content-tab {
        margin-top: 14px;

        &__content {
            @include use-text-style("body");
        }
    }

    &-price__cost {
        font-family: var(--paragraph-font);
        font-weight: 400;
    }

    &__info {
        @include sm-breakpoint {
            width: 100% !important;
        }
    }

    &__info-wrapper {
        margin-top: 70px;

        @include sm-breakpoint {
            margin-top: 0px;
        }

        @include md-breakpoint {
            margin-top: 40px;
        }
    }

    &-additional-details {
        padding: 40px 0 48px;
        margin-top: 0;
        &-child {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
        }
        &-iandt {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }

        &__image {
            margin-right: 12px;
        }

        &__text {
            @include use-text-style("text-title-alt");
            font-family: var(--primary-font-condensed);
            font-weight: 400;
            @include xss-breakpoint {
                font-size: var(--body-alt);
            }
            @include sm-breakpoint {
                font-size: var(--body-extrasmall-font-size);
            }
            @include md-breakpoint {
                @include use-text-style("text-title-alt");
                font-family: var(--primary-font-condensed);
                font-weight: 400;
            }
        }
        @include md-breakpoint {
            border-bottom: 1px solid var(--gsc-button-background-color-100);
            padding-top: 24px;
        }
    }

    &__buybox {
        margin-bottom: 0;
        @include sm-breakpoint {
            margin-top: 0;
            margin-bottom: 40px;
            transform: translateY(0%) !important;
        }
        @include md-breakpoint {
            margin-top: 40px;
        }
    }

    &-form {
        &__btn {
            @include use-text-style("cta");
        }
    }

    .quantity {
        &__input[type=number] {
            font-family: var(--paragraph-font);
            -moz-appearance: textfield;
        }
        &__input::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &__input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__container {
        @include container;
    }

    &-desktop-media {
        @include lg-breakpoint {
            width: 50% !important;
            max-width: unset;
        }
    }

    &__info-wrapper {
        @include lg-breakpoint {
            max-width: 40% !important;
        }
    }
}
.card {
    &-carousel {
        &__carousel {
            &-btn {       
                top: 25%;
            }
        }
    }
}

.default_product_custom_class {
    margin-top: var(--section-top-spacing);
}

.product-thumbnail-carousel__thumb {
    min-width: calc(115px + var(--gsc-space-between-cards));
}

.default_product_custom_class .product-thumbnail-carousel__thumb.is-primary .product-thumbnail-carousel__thumb-content {
    box-shadow: 0 0 0 5px var(--lead-secondary-color) inset;
}

.product_upsell_container .product-card__images-wrapper {
    max-height: 137px;
}

.upsell_product_heading .discount_percentage {
    color: red !important;
    @include use-text-style("body-small");
    line-height: 16px;
    margin-left: 20px;
}

.product-recommendations__container{
     .product-recommendations__card-carousel{
        .card-carousel__carousel-btn {
                top: 50% !important;
         } 
    }
}

.product_benifit_metafeild{
    margin-top: 0;
    line-height: 1;
    .product-type{
        margin-top: 0;
        padding-bottom: 0;
        p{
            line-height: 1.1;
        }
    }
}

.product_quantity_button {
    display: flex;
    flex-direction: column;

    &--subscription {
        margin-bottom: 20px;
        .subscription-close__btn {
            display: flex;
            float: right;
            cursor: pointer;
            @include sm-breakpoint {
                display: none;
            }
        }
    }

    .product_quantity_button--wrapper {
        display: flex;
        column-gap: 20px;
    }
}

.shopify_subscriptions_app_container{
    display: none;
}

.product_upsell_container .product-card__btn .product-card__btn-label-text {
    text-transform: uppercase;
}

.product-card__btn {
    padding: 12px 26px 10px;
}