{% liquid 
  assign heading = section.settings.section_heading 
  assign content =  page.metafields.custom.science_behind_benefits.value
%}

<div class="ingrediants__science-behind-benefits">
        <h1 class="ingrediants__science-behind-benefits-section-title section-header__heading">{{heading}}</h1>
        <div class="ingrediants__science-behind-benefits-contents">
        {% for block in content %}
            <div class="ingrediants__science-behind-benefits-item">
                <div class="ingrediants__science-behind-benefits-icon">
                    {% render 'icon', icon_name: 'pdf' %}
                </div>
                <div class="ingrediants__science-behind-benefits-text-content">
                <div class="ingrediants__science-behind-benefits-description">
                    {% if block.text_description %}
                        {{block.text_description}}
                    {% endif %}
                </div>
                <div class="ingrediants__science-behind-benefits-teaser">
                    {% if block.teaser_text %}
                    <p class="ingrediants__science-behind-benefits-teaser-text">-{{block.teaser_text}}</p>
                    {% endif %}
                    {% if block.readmore_url_link != blank %}
                        <a class="ingrediants__science-behind-benefits-teaser-link"  href="{{block.readmore_url_link}}" target="_blank">LEARN MORE</a>
                    {% endif %}
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
</div>


{% schema %}
 {
   "name": "Science Behing benefits",
   "settings": [ 
    {
      "type": "text", 
      "id": "section_heading",
      "label": "Section Heading",
      "default": "THE SCIENCE BEHIND THE BENEFITS"
    }
   ],
   "presets": [
    {
        "name": "Science Behind Benefits"
    }
   ]
 }
{% endschema %}