<div class='cart-warning'>
  <h1 class='cart-warning__title h6'>{{ 'general.empty_cart_page.title' | t }}</h1>
  <a
    href='{{ routes.all_products_collection_url }}'
    class='btn btn--lg btn--solid'
    aria-label='{{ 'general.empty_cart_page.link_to_continue_shopping' | t }}'
  >
    {{ 'general.empty_cart_page.link_to_continue_shopping' | t }}
  </a>
</div>
