<div class="ingrediants__breadcrumbs">
    <div class="ingrediants__breadcrumbs-container">
        <div class="redirection_link ingrediants__breadcrumbs-link">
            {% comment %} {% render 'icon', icon_name: 'arrow', class: 'ingredient_page_back_button' %} {% endcomment %}
            <a href="/pages/ingredients-database"> Back to Ingredient database</a>
        </div>
    </div>
</div>