{% if block.settings.upsell_products != blank  %}
    <div class="upsell_product_main_wrap">
        <div class="upsell_product_heading">
                <span class="heading_text">{{ block.settings.upsell_headings }}</span>
                {% comment %} <span class="discount_percentage"> upto 20% </span> {% endcomment %}
        </div>
    </div>

    <div class="product_upsell_container upsell__product-wrapper">
        <carousel-component class="card-carousel
            {% if show_navigation_on_hover %}card-carousel--navigation-on-hover{%else%}{% endif %}
            {% if section_layout == 'carousel-overflow' %} card-carousel--with-half-next-slide{% endif %} 
            {% if section_layout == 'carousel-overflow' and show_navigation_on_hover %} card-carousel--with-half-next-slide-and-hover-navigation{% endif %}"
            data-section-id='{{ section.id }}'>
            
            
            <div class="upsell_main_title_key {% if alignment == 'center' %}key-list__header--center{% endif %}">
                <carousel-btn
                    class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
                    data-scroll-direction='prev'
                    tabindex='0'
                >
                    {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon x-flip' -%}
                </carousel-btn>
                <carousel-btn
                    class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
                    data-scroll-direction='next'
                    tabindex='0'
                >
                    {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon' -%}
                </carousel-btn>
            </div>
            <div class="card-carousel__viewport 
            {% if section_layout == 'carousel-overflow' %} card-carousel__viewport--overflow{% endif %}" data-carousel-viewport>
                <div class='card-carousel__container announcement__carousel-container' data-carousel-container>
                    {%- for upsell_product in block.settings.upsell_products -%}
                        <div class='shop__grid-item'>        
                            {% render 'product-card',
                                with_bottom_spacing: true,
                                product: upsell_product,    
                                addtocartbutton: block.settings.show_add_to_cart,        
                                show_color_swatches_on_hover: false,
                                img_ratio: block.settings.img_ratio,
                                show_mobile_carousel: true,
                                product_card_align: "left"
                            %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </carousel-component>
    </div>

{% endif %}