/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/components/variant-options.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
/*
.heading-1 {
    @include use-text-style('heading-1');
}
*/
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Regular.otf?v=1687331055") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBold.otf?v=1687331058") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Bold.otf?v=1687331054") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-RegularCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-BoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Light.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Regular.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Medium.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Bold.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Book.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Medium.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Bold.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Black_0e55c44a-36fe-46fb-b4f9-4e7133b7616f.otf?v=1708079576") format("opentype");
}
/*
Use 'color('token') to access the defined color

.border--dark {
    border: 1px solid color('primary-dark');
}

.text--error {
    color: color('secondary-red');
}

*/
:root {
  --color-black: #353B35;
  --color-white: #D7D9D2;
  --color-white-alt: #ffffff;
  --border-color-alt: #EFEFEF;
  --primary-font: "brice","arial",sans-serif;
  --primary-font-condensed: "brice-condensed", "arial",sans-serif;
  --secondary-font: "moranga", serif;
  --paragraph-font: "circular-Std", serif;
  --fixed-nav-item-color: #D7D9D2;
  --fixed-nav-border-color: #fff;
  --fixed-nav-svg-color: #D7D9D2;
  --fixed-nav-background-color: #373936;
  --button-hover-background-color: #894819;
  --button-hover-text-color: #fff;
  --lead-secondary-color: #B06035;
  --secondary-background-color: #D7D9D2;
  --tritiary-backround-color: var(--color-white);
  --background-color-rare: #faf5ef;
  --nav-item-size: 20px;
  --nav-item-weight: 700;
  --nav-item-height: 20px;
  --nav-item-size: 20px;
  --nav-item-f-weight:900;
  --nav-item-height: 20px;
  --nav-heading-size: 24px;
  --nav-heading-weight: 700;
  --nav-heading-height: 24px;
  --heading-font-weight: 700;
  --heading-large-font-size: 60px;
  --heading-large-line-height: 60px;
  --heading-1-font-size: 36px;
  --heading-1-line-height: 40px;
  --heading-2-font-size: 32px;
  --heading-2-line-height: 32px;
  --heading-4-font-size: 20px;
  --heading-4-line-height: 20px;
  --heading-3-font-size: 34px;
  --heading-3-line-height: 34px;
  --section-heading-font-size: 24px;
  --section-heading-line-height: 35px;
  --paragraph-lead-font-weight:500;
  --paragraph-lead-font-size: 18px;
  --paragraph-lead-line-height: 24px;
  --body-weight: 700;
  --body-font-size: 16px;
  --body-line-height: 22px;
  --body-small-weight: 500;
  --body-small-font-size: 14px;
  --body-small-line-height: 22px;
  --body-extrasmall-weight: 700;
  --body-extrasmall-font-size: 12px;
  --body-extrasmall-line-height: 16px;
  --body-alt-weight: 500;
  --body-alt-font-size: 16px;
  --body-alt-line-height: 24px;
  --text-link-weight: 500;
  --text-link-size: 16px;
  --text-link-height: 16px;
  --text-title-weight: 700;
  --text-title-size: 28px;
  --text-title-height: 28px;
  --text-title-alt-weight: 700;
  --text-title-alt-size: 20px;
  --text-title-alt-height: 28px;
  --cta-font-weight: 600;
  --cta-font-size: 24px;
  --cta-line-height: 23px;
  --base-margin: 15px;
  --base-alt-margin: 15px;
  --base-large-margin: 15px;
  --base-medium-margin: 15px;
  --section-top-spacing: 40px;
  --section-bottom-spacing: 40px;
  --section-top-alt-spacing: 45px;
  --section-bottom-alt-spacing: 45px;
  --section-top-large-spacing: 40px;
  --section-bottom-large-spacing: 60px;
  --container-max-width: 1920px;
  --image-portrait-padding: calc((1.48/1)*100%);
}
@media (min-width: 768px) {
  :root {
    --base-margin: 32px;
    --base-alt-margin: 32px;
    --base-large-margin: 32px;
    --base-medium-margin: 32px;
    --text-title-alt-size: 18px;
  }
}
@media (min-width: 1024px) {
  :root {
    --heading-1-font-size: 52px;
    --heading-1-line-height: 53px;
    --heading-2-font-size: 40px;
    --heading-2-line-height: 54px;
    --heading-4-font-size: 32px;
    --heading-4-line-height: 32px;
    --heading-3-font-size: 30px;
    --heading-3-line-height: 30px;
    --section-heading-font-size: 44px;
    --section-heading-line-height: 65px;
    --base-large-margin: 165px;
    --base-medium-margin: 65px;
    --base-margin: 110px;
    --base-alt-margin: 52px;
    --section-top-spacing: 60px;
    --section-bottom-spacing: 60px;
    --section-s-bottom-spacing: 30px;
    --section-top-large-spacing: 80px;
    --section-bottom-large-spacing: 80px;
    --text-title-alt: 20px;
  }
}

.variant-container__var-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 5px 0;
}
.variant-container__var-wrapper {
  border: 1px solid #D8D9DA;
  padding: 16px 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.variant-container__var-name {
  font-family: var(--paragraph-font);
  font-size: 15px;
  color: #323734;
  font-weight: 400;
}
.variant-container__var-price {
  font-family: var(--paragraph-font);
  font-size: 15px;
  color: #323734;
  font-weight: 700;
}
.variant-container__opt-label {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 700;
  color: #BA5B31;
}

.variant-container__var-options .active {
  background: #323734;
}

.variant-container__var-wrapper.active .variant-container__var-name {
  color: #fff;
}

.variant-container__var-wrapper.active .variant-container__var-price {
  color: #fff;
}

.onetime-container__onetime-label, .subscriptionOpt-container__subscription-label {
  width: 50%;
  margin: auto;
  font-family: var(--paragraph-font);
}

.onetime-container__oneTime-Price {
  font-family: var(--paragraph-font);
  color: #A4633E;
  font-size: 20px;
  font-weight: 700;
}

.subscriptionOpt-container__subscription-Price {
  font-family: var(--paragraph-font);
  font-size: 20px;
  font-weight: 700;
}

.variant-container__bestvalue-tag {
  position: absolute;
  top: -10%;
  right: 10%;
  background-color: #BA5B31;
  color: #fff;
  padding: 0 8px;
  border-radius: 10px;
  font-size: 9px;
  font-family: var(--paragraph-font);
}
@media (min-width: 375px) {
  .variant-container__bestvalue-tag {
    font-size: 12px;
  }
}

.variant-container__purchaseType-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/components/subscription-sec.scss ***!
  \****************************************************************************************************************************************************************************************************************************************/
/*
.heading-1 {
    @include use-text-style('heading-1');
}
*/
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Regular.otf?v=1687331055") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBold.otf?v=1687331058") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Bold.otf?v=1687331054") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-RegularCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-BoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Light.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Regular.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Medium.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Bold.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Book.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Medium.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Bold.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Black_0e55c44a-36fe-46fb-b4f9-4e7133b7616f.otf?v=1708079576") format("opentype");
}
/*
Use 'color('token') to access the defined color

.border--dark {
    border: 1px solid color('primary-dark');
}

.text--error {
    color: color('secondary-red');
}

*/
.subscription-container__value-tag {
  color: #FFFFFF;
  background: var(--gsc-button-background-color-100);
  width: 106px;
  padding: 4px 14px;
  margin-left: 10px;
  font-family: var(--secondary-font);
}
.subscription-container__subscription-wrapper {
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--gsc-button-background-color-100);
  padding: 10px 5px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
@media only screen and (min-width: 1290px) {
  .subscription-container__subscription-wrapper {
    padding: 20px;
  }
}
.subscription-container__subscription-wrapper .subscription-container__subs-text {
  display: flex;
  cursor: pointer;
  align-items: center;
}
@media (min-width: 375px) {
  .subscription-container__subscription-wrapper .subscription-container__subs-text {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.subscription-container__subscription-wrapper .subscription-container__subs-text label {
  cursor: pointer;
}
.subscription-container__subscription-wrapper .subscription-container__subs-text label .subscribeSave__text {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--paragraph-font);
}
@media (min-width: 375px) {
  .subscription-container__subscription-wrapper .subscription-container__subs-text label .subscribeSave__text {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1290px) {
  .subscription-container__subscription-wrapper .subscription-container__subs-text label .subscribeSave__text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1290px) {
  .subscription-container__subscription-wrapper .subscription-container__subs-text label .subscribeSave__text {
    font-size: 24px;
  }
}
.subscription-container__subscription-wrapper .subscription-container__subs-text label .subscription-container__dropdown {
  display: flex;
  font-family: var(--paragraph-font);
}
.subscription-container__subs-price, .subscription-container__oneTime-Price {
  font-family: var(--paragraph-font);
  font-weight: 700;
}
@media only screen and (min-width: 1290px) {
  .subscription-container__subs-price, .subscription-container__oneTime-Price {
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
    align-items: center;
  }
}
.subscription-container__subs-compPrice {
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}
.subscription-container__subs-actualPrice {
  color: var(--gsc-button-background-color-100);
}
.subscription-container__oneTime-Price {
  color: #353B35;
}
@media (min-width: 375px) {
  .subscription-container__subs-actualPrice, .subscription-container__oneTime-Price {
    font-size: 18px;
  }
}
.subscription-container__onetime-wrapper {
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--gsc-button-background-color-100);
  padding: 10px 5px;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 1290px) {
  .subscription-container__onetime-wrapper {
    padding: 20px;
  }
}
.subscription-container__oneTime-text {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
@media (min-width: 375px) {
  .subscription-container__oneTime-text {
    font-size: 18px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1290px) {
  .subscription-container__oneTime-text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1290px) {
  .subscription-container__oneTime-text {
    font-size: 24px;
    align-items: center;
  }
}
.subscription-container__oneTime-text label {
  cursor: pointer;
  font-family: var(--paragraph-font);
}
.subscription-container input[type=radio] {
  accent-color: var(--gsc-button-background-color-100);
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: blue;
  width: 20px;
  height: 20px;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
}
.subscription-container input[type=radio].active::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  background: #a7693c;
  border-radius: 50%;
}
.subscription-container__dropbtn {
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--gsc-text-color-100);
  border: none;
  font-family: var(--primary-font-condensed);
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2IDEwTDEyIDE0TDggMTAiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
  background-position: right 0% bottom 50%;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 767px) {
  .subscription-container__dropbtn {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1280) {
  .subscription-container__dropbtn {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1290px) {
  .subscription-container__dropbtn {
    font-size: 18px;
  }
}
.subscription-container__dropbtn-single {
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--gsc-text-color-100);
  border: none;
  font-family: var(--paragraph-font);
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
@media (min-width: 375px) {
  .subscription-container__dropbtn-single {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1290px) {
  .subscription-container__dropbtn-single {
    font-size: 18px;
  }
}

.select {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.select:focus {
  outline: none;
}
