/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/templates/product.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
/*
.heading-1 {
    @include use-text-style('heading-1');
}
*/
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Regular.otf?v=1687331055") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBold.otf?v=1687331058") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Bold.otf?v=1687331054") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-RegularCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-BoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Light.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Regular.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Medium.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Bold.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Book.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Medium.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Bold.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Black_0e55c44a-36fe-46fb-b4f9-4e7133b7616f.otf?v=1708079576") format("opentype");
}
/*
Use 'color('token') to access the defined color

.border--dark {
    border: 1px solid color('primary-dark');
}

.text--error {
    color: color('secondary-red');
}

*/
.upsell_product_heading {
  font-family: var(--primary-font-condensed);
  font-size: var(--text-title-size);
  font-weight: var(--text-title-weight);
  line-height: var(--text-title-height);
  letter-spacing: var(--text-title-spacing);
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .product_upsell_container {
    overflow: visible;
  }
}
.product_upsell_container .product-card__inner {
  max-width: 102px;
}
.product_upsell_container .product-card__btn {
  max-width: 150px;
}
.product_upsell_container .product-card__details-inner {
  justify-content: flex-start;
}
.product_upsell_container .carousel-btn {
  width: 3.8rem;
  height: 3.8rem;
}
.product_upsell_container .card-carousel__carousel-btn--next {
  right: -6%;
}
.product_upsell_container .card-carousel__carousel-btn--prev {
  left: -6%;
}
@media only screen and (min-width: 576px) {
  .product_upsell_container .upsell-products__carousel-dots {
    bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .product_upsell_container .upsell-products__carousel-dots {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .upsell__product-wrapper .card-carousel__viewport {
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .upsell__product-wrapper .card-carousel__viewport {
    padding-bottom: unset;
  }
}

.product-card__title {
  font-family: var(--secondary-font);
  font-size: var(--text-title-alt-size);
  font-weight: var(--text-title-alt-weight);
  line-height: var(--text-title-alt-height);
  letter-spacing: var(--text-title-alt-spacing);
  text-transform: none;
  margin-bottom: 8px;
  display: -webkit-box;
  max-width: 85%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card__price {
  margin-bottom: 10px;
  margin-top: 0;
}
.product-card__price-item {
  font-family: var(--paragraph-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-spacing);
}
.product-card__rating {
  margin: 0;
  padding: 0;
}
.product-card__details {
  padding-top: 17px;
}
.product-card__btn {
  font-family: var(--primary-font-condensed);
  font-size: var(--cta-font-size);
  font-weight: var(--cta-font-weight);
  line-height: var(--cta-line-height);
  letter-spacing: var(--cta-spacing);
  padding: 12px 36px;
  margin-top: 4px;
}
.product-card__rating {
  margin-bottom: 12px;
}
.product-card__text-icon {
  flex-direction: column;
}
.product-card__benefits {
  font-family: var(--paragraph-font);
  font-size: var(--body-extrasmall-font-size);
  font-weight: var(--body-extrasmall-weight);
  line-height: var(--body-extrasmall-line-height);
  letter-spacing: var(--body-extrasmall-spacing);
  margin-bottom: 10px;
}
.product-card__inner {
  padding-bottom: var(--image-portrait-padding);
}

.product-mobile-media {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.product-desktop-media {
  position: sticky;
  top: 0;
  max-width: 550px;
}
.product__title {
  font-family: var(--primary-font-condensed);
  font-size: var(--nav-heading-size);
  font-weight: var(--nav-heading-weight);
  line-height: var(--nav-heading-height);
  letter-spacing: var(--nav-heading-spacing);
  font-family: var(--secondary-font);
}
@media only screen and (min-width: 1024px) {
  .product__title {
    font-family: var(--secondary-font);
    font-size: var(--heading-2-font-size);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-2-line-height);
    letter-spacing: var(--heading-2-spacing);
  }
}
.product-content-tab {
  margin-top: 14px;
}
.product-content-tab__content {
  font-family: var(--paragraph-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-spacing);
}
.product-price__cost {
  font-family: var(--paragraph-font);
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .product__info {
    width: 100% !important;
  }
}
.product__info-wrapper {
  margin-top: 70px;
}
@media only screen and (min-width: 768px) {
  .product__info-wrapper {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .product__info-wrapper {
    margin-top: 40px;
  }
}
.product-additional-details {
  padding: 40px 0 48px;
  margin-top: 0;
}
.product-additional-details-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}
.product-additional-details-iandt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.product-additional-details__image {
  margin-right: 12px;
}
.product-additional-details__text {
  font-family: var(--secondary-font);
  font-size: var(--text-title-alt-size);
  font-weight: var(--text-title-alt-weight);
  line-height: var(--text-title-alt-height);
  letter-spacing: var(--text-title-alt-spacing);
  font-family: var(--primary-font-condensed);
  font-weight: 400;
}
@media only screen and (max-width: 375px) {
  .product-additional-details__text {
    font-size: var(--body-alt);
  }
}
@media only screen and (min-width: 768px) {
  .product-additional-details__text {
    font-size: var(--body-extrasmall-font-size);
  }
}
@media only screen and (min-width: 1024px) {
  .product-additional-details__text {
    font-family: var(--secondary-font);
    font-size: var(--text-title-alt-size);
    font-weight: var(--text-title-alt-weight);
    line-height: var(--text-title-alt-height);
    letter-spacing: var(--text-title-alt-spacing);
    font-family: var(--primary-font-condensed);
    font-weight: 400;
  }
}
@media only screen and (min-width: 1024px) {
  .product-additional-details {
    border-bottom: 1px solid var(--gsc-button-background-color-100);
    padding-top: 24px;
  }
}
.product__buybox {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .product__buybox {
    margin-top: 0;
    margin-bottom: 40px;
    transform: translateY(0%) !important;
  }
}
@media only screen and (min-width: 1024px) {
  .product__buybox {
    margin-top: 40px;
  }
}
.product-form__btn {
  font-family: var(--primary-font-condensed);
  font-size: var(--cta-font-size);
  font-weight: var(--cta-font-weight);
  line-height: var(--cta-line-height);
  letter-spacing: var(--cta-spacing);
}
.product .quantity__input[type=number] {
  font-family: var(--paragraph-font);
  -moz-appearance: textfield;
}
.product .quantity__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product .quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product__container {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media only screen and (min-width: 1920px) {
  .product__container {
    max-width: calc(1920px - 2 * var(--base-margin));
  }
}
@media only screen and (min-width: 1290px) {
  .product-desktop-media {
    width: 50% !important;
    max-width: unset;
  }
}
@media only screen and (min-width: 1290px) {
  .product__info-wrapper {
    max-width: 40% !important;
  }
}

.card-carousel__carousel-btn {
  top: 25%;
}

.default_product_custom_class {
  margin-top: var(--section-top-spacing);
}

.product-thumbnail-carousel__thumb {
  min-width: calc(115px + var(--gsc-space-between-cards));
}

.default_product_custom_class .product-thumbnail-carousel__thumb.is-primary .product-thumbnail-carousel__thumb-content {
  box-shadow: 0 0 0 5px var(--lead-secondary-color) inset;
}

.product_upsell_container .product-card__images-wrapper {
  max-height: 137px;
}

.upsell_product_heading .discount_percentage {
  color: red !important;
  font-family: var(--paragraph-font);
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-weight);
  line-height: var(--body-small-line-height);
  letter-spacing: var(--body-small-spacing);
  line-height: 16px;
  margin-left: 20px;
}

.product-recommendations__container .product-recommendations__card-carousel .card-carousel__carousel-btn {
  top: 50% !important;
}

.product_benifit_metafeild {
  margin-top: 0;
  line-height: 1;
}
.product_benifit_metafeild .product-type {
  margin-top: 0;
  padding-bottom: 0;
}
.product_benifit_metafeild .product-type p {
  line-height: 1.1;
}

.product_quantity_button {
  display: flex;
  flex-direction: column;
}
.product_quantity_button--subscription {
  margin-bottom: 20px;
}
.product_quantity_button--subscription .subscription-close__btn {
  display: flex;
  float: right;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .product_quantity_button--subscription .subscription-close__btn {
    display: none;
  }
}
.product_quantity_button .product_quantity_button--wrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.shopify_subscriptions_app_container {
  display: none;
}

.product_upsell_container .product-card__btn .product-card__btn-label-text {
  text-transform: uppercase;
}

.product-card__btn {
  padding: 12px 26px 10px;
}
