/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/slideshow.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
/*
.heading-1 {
    @include use-text-style('heading-1');
}
*/
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Regular.otf?v=1687331055") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBold.otf?v=1687331058") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Bold.otf?v=1687331054") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-RegularCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-BoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Light.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Regular.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Medium.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Bold.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Book.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Medium.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Bold.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Black_0e55c44a-36fe-46fb-b4f9-4e7133b7616f.otf?v=1708079576") format("opentype");
}
/*
Use 'color('token') to access the defined color

.border--dark {
    border: 1px solid color('primary-dark');
}

.text--error {
    color: color('secondary-red');
}

*/
.slideshow__carousel-container {
  min-height: unset;
}

.slideshow--without-dots {
  padding: 0;
}

.image-banner {
  background: var(--background-color-rare);
}
@media only screen and (min-width: 768px) {
  .image-banner {
    background: var(--tritiary-backround-color);
  }
}
.image-banner__caption {
  display: none;
}
.image-banner__media {
  position: relative;
  width: 100%;
}
.image-banner__container-wrap {
  width: 100%;
}
.image-banner__content-wrap {
  max-width: calc(100% - 2 * var(--base-alt-margin));
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media only screen and (min-width: 1920px) {
  .image-banner__content-wrap {
    max-width: calc(1920px - 2 * var(--base-alt-margin));
  }
}
@media only screen and (min-width: 1024px) {
  .image-banner__content-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.image-banner__content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  --gsc-content-width: 43rem;
}
@media only screen and (min-width: 768px) {
  .image-banner__content {
    text-align: center;
  }
}
.image-banner__content--mobile {
  text-align: left;
  padding-bottom: 40px;
}
.image-banner__container {
  padding: 0 !important;
  flex-wrap: wrap;
  min-height: unset;
}
.image-banner__title {
  font-family: var(--secondary-font);
  font-size: var(--heading-1-font-size);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-1-line-height);
  letter-spacing: var(--heading-1-spacing);
  font-weight: unset;
}
@media only screen and (min-width: 1024px) {
  .image-banner__title {
    line-height: var(--heading-2-line-height);
    font-size: var(--heading-2-font-size);
  }
}
@media only screen and (min-width: 1290px) {
  .image-banner__title {
    line-height: var(--heading-1-line-height);
    font-size: var(--heading-1-font-size);
  }
}
.image-banner__text, .image-banner__text p {
  font-weight: var(--body-extrasmall-weight);
  font-family: var(--paragraph-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-spacing);
}
.image-banner__btns {
  display: flex;
  align-items: center;
  -moz-column-gap: 52px;
       column-gap: 52px;
}
.image-banner__btns .btn, .image-banner__btns .link {
  font-family: var(--primary-font-condensed);
  font-size: var(--cta-font-size);
  font-weight: var(--cta-font-weight);
  line-height: var(--cta-line-height);
  letter-spacing: var(--cta-spacing);
  max-width: -moz-max-content;
  max-width: max-content;
}
@media only screen and (max-width: 375px) {
  .image-banner__btns .btn, .image-banner__btns .link {
    font-size: var(--paragraph-lead-font-size);
  }
}
.image-banner__btns .link {
  color: var(--gsc-button-background-color-100);
}
.image-banner__btns .link__chevron {
  display: none;
}
.image-banner__btns .link__text {
  border-bottom: 1px solid var(--gsc-button-background-color-100);
}
@media only screen and (min-width: 1024px) {
  .image-banner__btns {
    -moz-column-gap: 44px;
         column-gap: 44px;
  }
}
.image-banner__btn {
  align-self: center;
}
.image-banner .media__image {
  position: relative;
}
