/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/collection-list.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
/*
.heading-1 {
    @include use-text-style('heading-1');
}
*/
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Regular.otf?v=1687331055") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBold.otf?v=1687331058") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Bold.otf?v=1687331054") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-RegularCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-BoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Light.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Regular.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Medium.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Bold.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Book.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Medium.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Bold.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular-Std";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Black_0e55c44a-36fe-46fb-b4f9-4e7133b7616f.otf?v=1708079576") format("opentype");
}
/*
Use 'color('token') to access the defined color

.border--dark {
    border: 1px solid color('primary-dark');
}

.text--error {
    color: color('secondary-red');
}

*/
.collection-card__content {
  padding-top: 20px;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .collection-card__content {
    padding-top: 24px;
  }
}
.collection-card__title {
  font-family: var(--primary-font-condensed);
  font-size: var(--text-title-size);
  font-weight: var(--text-title-weight);
  line-height: var(--text-title-height);
  letter-spacing: var(--text-title-spacing);
}

.collection-list {
  padding: var(--section-top-spacing) 0 var(--section-bottom-spacing);
}
@media only screen and (min-width: 1024px) {
  .collection-list {
    padding: var(--section-top-alt-spacing) 0 var(--section-s-bottom-spacing);
  }
}
.collection-list__container {
  max-width: calc(100% - 2 * var(--base-alt-margin));
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media only screen and (min-width: 1920px) {
  .collection-list__container {
    max-width: calc(1920px - 2 * var(--base-alt-margin));
  }
}
.collection-list__header {
  margin-bottom: 31px !important;
}
.collection-list__heading {
  font-family: var(--secondary-font);
  font-size: var(--heading-1-font-size);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-1-line-height);
  letter-spacing: var(--heading-1-spacing);
  max-width: 60%;
}
.collection-list__link {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-family: var(--paragraph-font);
  font-size: var(--text-link-size);
  font-weight: var(--text-link-weight);
  line-height: var(--text-link-height);
  letter-spacing: var(--text-link-spacing);
}
.collection-list__link:hover {
  color: var(--button-hover-background-color);
}
@media only screen and (min-width: 1024px) {
  .collection-list .card-carousel__slide {
    padding-left: 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .collection-list .card-carousel__container {
    margin-left: -24px;
  }
}
.collection-list .card-carousel__position-btn-wrap {
  display: none;
}
@media only screen and (min-width: 768px) {
  .collection-list .card-carousel__position-btn-wrap {
    display: block;
    top: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  .collection-list .card-carousel__position-btn-wrap {
    top: 35%;
  }
}
