/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/templates/page.ingredients-database.scss ***!
  \************************************************************************************************************************************************************************************************************************************************/
/*
.heading-1 {
    @include use-text-style('heading-1');
}
*/
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Regular.otf?v=1687331055") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBold.otf?v=1687331058") format("opentype");
}
@font-face {
  font-family: "brice";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-Bold.otf?v=1687331054") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-RegularCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-SemiBoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "brice-condensed";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Brice-BoldCondensed.otf?v=1687332334") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Light.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Regular.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Medium.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "moranga";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Moranga-Bold.otf?v=1687343495") format("opentype");
}
@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Book.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Medium.otf?v=1687343642") format("opentype");
}
@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.shopify.com/s/files/1/0780/8181/8922/files/Circular-Std-Bold.otf?v=1687343642") format("opentype");
}
/*
Use 'color('token') to access the defined color

.border--dark {
    border: 1px solid color('primary-dark');
}

.text--error {
    color: color('secondary-red');
}

*/
.image-banner__content .h2, .ingredient__contents .h2 {
  font-family: var(--secondary-font);
  font-size: var(--heading-1-font-size);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-1-line-height);
  letter-spacing: var(--heading-1-spacing);
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .image-banner__content .h2, .ingredient__contents .h2 {
    color: var(--secondary-background-color);
  }
}
.image-banner__content .ingredient-desc, .ingredient__contents .ingredient-desc {
  font-family: var(--paragraph-font);
  font-size: var(--body-alt-font-size);
  font-weight: var(--body-alt-weight);
  line-height: var(--body-alt-line-height);
  letter-spacing: var(--body-alt-spacing);
  font-weight: 700;
  text-align: left;
  color: var(--color-black);
}
@media only screen and (min-width: 768px) {
  .image-banner__content .ingredient-desc, .ingredient__contents .ingredient-desc {
    color: var(--secondary-background-color);
  }
}
@media only screen and (min-width: 1024px) {
  .image-banner__content .ingredient-desc, .ingredient__contents .ingredient-desc {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-lead-font-size);
    font-weight: var(--paragraph-lead-font-weight);
    line-height: var(--paragraph-lead-line-height);
    letter-spacing: var(--paragraph-lead-spacing);
  }
}
.image-banner__content .icon-text-wrapper, .ingredient__contents .icon-text-wrapper {
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.image-banner__content .icon-text-wrapper .icon-wrap svg, .ingredient__contents .icon-text-wrapper .icon-wrap svg {
  height: 60px;
  width: 65px;
  margin: 0 auto;
}
.image-banner__content .icon-text-wrapper .icon-wrap svg path, .image-banner__content .icon-text-wrapper .icon-wrap svg circle, .ingredient__contents .icon-text-wrapper .icon-wrap svg path, .ingredient__contents .icon-text-wrapper .icon-wrap svg circle {
  stroke: var(--color-black);
  fill: var(--color-black);
}
@media only screen and (min-width: 768px) {
  .image-banner__content .icon-text-wrapper .icon-wrap svg path, .image-banner__content .icon-text-wrapper .icon-wrap svg circle, .ingredient__contents .icon-text-wrapper .icon-wrap svg path, .ingredient__contents .icon-text-wrapper .icon-wrap svg circle {
    stroke: #fff;
    fill: #fff;
  }
}
@media only screen and (min-width: 1024px) {
  .image-banner__content .icon-text-wrapper .icon-wrap svg, .ingredient__contents .icon-text-wrapper .icon-wrap svg {
    height: 116px;
    width: 116px;
  }
}
@media only screen and (min-width: 768px) {
  .image-banner__content .icon-text-wrapper, .ingredient__contents .icon-text-wrapper {
    -moz-column-gap: 48px;
         column-gap: 48px;
    margin-top: 45px;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .image-banner__content .icon-text-wrapper, .ingredient__contents .icon-text-wrapper {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1290px) {
  .image-banner__content .icon-text-wrapper, .ingredient__contents .icon-text-wrapper {
    -moz-column-gap: 115px;
         column-gap: 115px;
    margin-top: 0px;
  }
}
.image-banner__content .text-wrapper__info p, .ingredient__contents .text-wrapper__info p {
  font-family: var(--paragraph-font);
  font-size: var(--paragraph-lead-font-size);
  font-weight: var(--paragraph-lead-font-weight);
  line-height: var(--paragraph-lead-line-height);
  letter-spacing: var(--paragraph-lead-spacing);
  font-family: var(--primary-font-condensed) !important;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .image-banner__content .text-wrapper__info p, .ingredient__contents .text-wrapper__info p {
    font-family: var(--primary-font-condensed);
    font-size: var(--cta-font-size);
    font-weight: var(--cta-font-weight);
    line-height: var(--cta-line-height);
    letter-spacing: var(--cta-spacing);
    font-weight: 700;
  }
}

@media only screen and (min-width: 1024px) {
  .ingredient__contents {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }
}

.ingredientdb-banner__content-wrap {
  padding-left: 0 !important;
  padding-right: 0 !important;
  justify-content: space-between !important;
}
@media only screen and (min-width: 1290px) {
  .ingredientdb-banner__content-wrap {
    padding-left: 65px !important;
    padding-right: 65px !important;
  }
}

.image-banner__text-content {
  max-width: 420px;
}

.ingredients_content_info {
  margin-top: 16px !important;
}
.ingredients_content_info h4 {
  font-family: var(--secondary-font);
  font-size: var(--text-title-alt-size);
  font-weight: var(--text-title-alt-weight);
  line-height: var(--text-title-alt-height);
  letter-spacing: var(--text-title-alt-spacing);
  font-family: var(--primary-font-condensed);
  line-height: 1.2 !important;
}
@media only screen and (min-width: 1024px) {
  .ingredients_content_info h4 {
    font-family: var(--primary-font-condensed);
    font-size: var(--text-title-size);
    font-weight: var(--text-title-weight);
    line-height: var(--text-title-height);
    letter-spacing: var(--text-title-spacing);
  }
}
@media only screen and (min-width: 1024px) {
  .ingredients_content_info {
    margin-top: 20px !important;
  }
}

.pagination_load_btn {
  font-family: var(--primary-font-condensed);
  font-size: var(--cta-font-size);
  font-weight: var(--cta-font-weight);
  line-height: var(--cta-line-height);
  letter-spacing: var(--cta-spacing);
}

.load_more_button_update {
  font-family: var(--paragraph-font);
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-weight);
  line-height: var(--body-small-line-height);
  letter-spacing: var(--body-small-spacing);
}

.ingredientdb__hero_image-mobile, .ingredientdb__hero_image-mobile img {
  max-height: 225px;
  line-height: 1;
}

.ingredients_image_wrap {
  height: 235px;
  width: 235px;
}

.ingredients-database-item {
  padding: 0 !important;
  margin: 0 !important;
}
@media only screen and (min-width: 1024px) {
  .ingredients-database-item {
    max-width: 235px;
    margin-top: 0 !important;
  }
}
.ingredients-database-item .ingredients_content_info .tag_wrap {
  font-family: var(--paragraph-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-spacing);
  color: #353B35;
}

.ingredients-database-section {
  padding-top: var(--section-top-spacing);
}
@media only screen and (min-width: 1024px) {
  .ingredients-database-section {
    padding-top: 104px;
  }
}

.ingredients-database {
  justify-content: space-around !important;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}
.ingredients-database__container {
  max-width: calc(100% - 2 * var(--base-alt-margin));
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media only screen and (min-width: 1920px) {
  .ingredients-database__container {
    max-width: calc(1920px - 2 * var(--base-alt-margin));
  }
}
@media only screen and (min-width: 1024px) {
  .ingredients-database {
    justify-content: space-between;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 60px;
  }
}

.ingredientdb-banner__container-wrap {
  max-width: calc(100% - 2 * var(--base-medium-margin));
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}
@media only screen and (min-width: 1920px) {
  .ingredientdb-banner__container-wrap {
    max-width: calc(1920px - 2 * var(--base-medium-margin));
  }
}
@media only screen and (min-width: 768px) {
  .ingredientdb-banner__container-wrap {
    justify-content: center !important;
  }
  .ingredientdb-banner__container-wrap .image-banner__text-content {
    margin-left: auto;
    margin-right: auto;
  }
  .ingredientdb-banner__container-wrap .image-banner__text-content * {
    text-align: center;
  }
  .ingredientdb-banner__container-wrap .icon-text-wrapper {
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .ingredientdb-banner__container-wrap {
    justify-content: space-between !important;
  }
  .ingredientdb-banner__container-wrap .image-banner__text-content {
    margin-left: unset;
    margin-right: auto;
  }
  .ingredientdb-banner__container-wrap .image-banner__text-content * {
    text-align: left;
  }
  .ingredientdb-banner__container-wrap .icon-text-wrapper {
    justify-content: flex-start;
  }
}

.image-banner__content--mobile {
  background-color: var(--background-color-rare);
}
