
.collage .collage__blocks .collage__card-grid .collage__item .article-card{
    height: 100%;
    display: block;
}
.article-card__details{
    position: inherit;
    flex-flow: column;
    justify-content: flex-end;
    row-gap: 1.2rem;
    padding: 0;
    display: flex;
    overflow: hidden;
}
.link-parent-for-hover .article-card__details{
    position: absolute;
    inset: 0;
}
.link-parent-for-hover .article-card__details{
    z-index: 0;
}
.article-card.link-parent-for-hover .article-card__details .article-card__title{
    padding: 2rem;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
    width: 100%;
    text-transform: uppercase;
}

.article-card__icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 28px;
    height: 27px;
    width: 27px;
}


.small_title{
    display: block;
    margin-bottom: 10px;
    font-family: "BrownStd-Regular" !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.article-card:hover.link-parent-for-hover .article-card__details.hover_on_text .article-card__title:before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);    
}
.article-card.link-parent-for-hover .article-card__details.hover_on_text .article-card__title:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gsc-button-background-color-100);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
} 
.article-card:hover.link-parent-for-hover .article-card__details.hover_on_text .article-card__title{        
    width: 100%;
    padding: 2rem;
}
@media(min-width: 768px){
    .collage__card-grid {
		grid: auto-flow dense var(--gsc-collage-grid-calculated-row-height)/repeat(var(--gsc-collage-columns), minmax(0, 1fr));
		--gsc-collage-grid-calculated-row-height: max(420px, min(100vw/5, var(--gsc-collage-row-height)))
	}
    .article-card.link-parent-for-hover .article-card__details .article-card__title{
        padding: 4rem;
    }    
    .article-card:hover.link-parent-for-hover .article-card__details.hover_on_text .article-card__title{        
        width: 100%;
        padding: 4rem;
    }
}
