
.split-image-banner .split-image-banner__container .split-image-banner__content h2{
    margin: 0;
}

@media(max-width:767px){
    .slideshow__carousel-viewport .image-banner .image-banner__container{
        flex-wrap: wrap;
        padding: 0;
        min-height: unset;
    }
    .slideshow__carousel-viewport .image-banner .image-banner__container .image-banner__media{
        order: -1;
        position: relative;        
        flex: 1 1 calc(50% - 0.1rem);
    }
    .slideshow__carousel-viewport .image-banner .image-banner__container .image-banner__content-wrap{
        height: unset;
    }
}


@media(max-width:520px){    
    .split-image-banner__content .split-image-banner__btns{
        width: 60%;
        margin: auto;
    }

    .split-image-banner__content .split-image-banner__text p{
        padding-bottom: 10px;
    }

   .image-banner__content--mobile .image-banner__btns{
        width: 60%;
        margin:auto;
    }

    .image-banner__content--mobile .image-banner__text p{
        padding-bottom: 10px;
    }
}