.login__content .login__title{
    font-size: 38px;
    color: #000000;
}
.login__content .login__text{
    font-family: "BrownStd-Regular";
}

.login__field .label{
    font-size: 18px;
    color: #000000;
}

.login__field .field__link{
    font-size: 14px;
    font-family: "BrownStd-Regular";
}
.login__btns .btn{
    font-size: 16px;
}
.login__footer{
    font-family: "BrownStd-Regular";
    font-size: 14px;
}
#rc_login{
    font-size: 18px;
    color: #000000;
}
.account-menu .account-menu__title{
    font-family: "BrownStd-Regular";
}
.account__content .addresses__header{
    color: #000000;
}
.account__content .addresses__form-title{
    color: #000000;
}
.addresses__form-field .label{
    color: #000000;
}
.addresses__form-field label span{
    color: #000000;
}
.addresses__address-details .addresses__default-label, .addresses__address-details-item{
    font-family: "BrownStd-Regular";
}