/* cart drawer free shipping progress bar*/
.sidebar-cart .sidebar-cart__body .sidebar-cart__content .cart-free-shipping-bar .cart-free-shipping-bar__progress{
    height: 8px;
    border-radius: 70px;
}
.sidebar-cart .sidebar-cart__body .sidebar-cart__header .sidebar-cart__header-title{
    font-size: 16px;
    font-family: BrownStd-Bold !important;
}

.sidebar-cart .sidebar-cart__body .sidebar-cart__content .sidebar-cart__cart-items .cart-items .cart-items-render
.cart-item__pay-info .cart-item__info .cart-item__name-label{
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'BrownStd-Bold' !important;
}

.sidebar-cart .sidebar-cart__body .sidebar-cart__content .cart-free-shipping-bar 
.cart-free-shipping-bar__progress .cart-free-shipping-bar__progress-bar{
    background: #eeeeee;
}
.cart-free-shipping-bar__progress-bar-dots{
    background: #EA6852;
    z-index: 2;
}

.upsell_product_footer_main_info{    
    margin: 0 2rem;
    position: relative;
    z-index: 9;
    background: #ffffff;
}
.upsell_product_footer_main_info h4{
    padding: 18px 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
}
.upsell_product_footer{
    display: flex;    
    justify-content: flex-start;
    overflow-x: auto;    
    overflow-y: hidden;
    padding: 0rem 0rem 2.4rem;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    column-gap: 10px;
}
.upsell_product_footer .cart-product__card{
    display: flex;
    flex-flow: row;
    column-gap: 10px;
    flex: 0 0 auto;
    white-space: normal;
    scroll-snap-align: start;
    border: 0.5px solid #8D8D8D;
    padding: 10px;
    align-self: stretch;
    width: 90%;
}
.upsell_product_footer .cart-product__card .product-card__inner{
    padding-bottom: 25%;
    width: 10.8rem;
    flex-shrink: 0;
}
.upsell_product_footer .cart-product__card .product-card__details{
    flex: 1;
    width: 50%;
}

.upsell_product_footer .product-card .product-card__details .product-card__actions{
    position: relative;
}
/* .upsell_product_footer .product-card .product-card__details .product-card__actions 
.product-card__btns.product-card__btns--overflowed .product-card__btn-label-text{
    visibility: visible;
    position: static;
    display: block;
}
.upsell_product_footer .product-card .product-card__details .product-card__actions 
.product-card__btns.product-card__btns--overflowed .product-card__btn-icon{
    display: none;
} */
.upsell_product_footer .product-card .product-card__details .product-card__info .product-card__actions .product-card__btn .product-card__btn-label-text{
    margin: 0;
}
.upsell_product_footer .product-card .product-card__details .product-card__info .product-card__actions .product-card__btn{
    background: #EE5C4C;
    text-transform: uppercase;
    padding: 2rem;
}

.upsell_product_footer .product-card .product-card__details .product-card__info .product-card__title{
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 10%);
    display: block;
}
.upsell_product_footer .product-card .product-card__details .product-card__info{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.upsell_product_footer .product-card .product-card__details .product-card__info .cart_product_info{
    width: 80%;
}
.upsell_product_footer .product-card .product-card__details .product-card__info .cart_product__btn .product-card__btn{
    background: transparent;
    padding: 1rem;
    border: 0.75px solid #EA6852;
    border-radius: 50%;
    height: 100%;
    color: #EA6852;
}
.sidebar-cart__header-title .sidebar-cart__header-product-count{
    color: #AAAAAA;
}

.cart-free-shipping-bar .cart-free-shipping-bar__title span{
    font-size: 16px;
    font-family: 'BrownStd-Bold' !important;
}
.cart-item__grid .cart-item__remove-button{
    top: 5px;
}
.cart-item__totals-price .cart-item__price{
    font-weight: 400;
}
.sidebar-cart[footer-shadow-visible] .sidebar-cart__footer {
    box-shadow: unset;
}
.sidebar-cart__body .sidebar-cart__footer{
    border-top: 1px solid #E7E7E7;
}
.subtotal__content .subtotal__price{
    font-weight: 400;
}
.subtotal__content .subtotal__tax-note,.mobile_subtotal__tax-note{
    color: #A3A3A3;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.mobile_subtotal__tax-note{
    display: none;
}
.subtotal__content .subtotal__cta button{
    background-color: #EA6852;
    text-transform: uppercase;
    font-weight: 700;
    font-size:20px;
}

.subtotal .subtotal__content{
    padding: 0 2.4rem 2.4rem;
}
.sidebar-cart__cart-free-shipping-bar{
    margin-bottom: 2.6rem;
}
/* Media queries css here */
@media(min-width:1200px){
    .upsell_product_footer .cart-product__card{
        width: 80%;
    }
    .upsell_product_footer .product-card .product-card__details .product-card__info .cart_product__btn .product-card__btn{
        padding: 1.4rem;
    }
}

@media(min-width:768px){
    .sidebar-cart .sidebar-cart__body .sidebar-cart__content .sidebar-cart__cart-items .cart-items .cart-items-render
    .cart-item__pay-info .cart-item__info .cart-item__name-label{
        font-size: 18px;
    }
    .sidebar-cart__header-title {
        padding: 1.5rem 0 1.5rem 2.4rem;
    }
    .sidebar-cart__close-button-wrapper {
        padding: 1rem 2.4rem;
    }
    .subtotal__btn {
        padding: 1rem;
    }
}

@media(max-width:425px){
    .subtotal__content-wrap {
        display: unset;
    }
    .subtotal .subtotal__content {
        flex-flow: row;
        align-items: center;
        padding: 2.4rem 2.4rem 1.2rem;
    }
    .subtotal__content div:first-child{
        width: 40%
    }
    .subtotal__totals {
        justify-content: unset;
        align-items: unset;
        display: flex;
        flex-flow: column;
    }
    .subtotal__content .subtotal__cta{
        width:100%
    }
    .subtotal__content .subtotal__cta button{
        font-size:14px;
    }
    .subtotal__tax-note{
        display:none;
    }
    .mobile_subtotal__tax-note{
        display: block;
        text-align: center;
        margin-bottom: 0.4rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #D9D9D9;
    }
}

