.collection-custom__title{
    font-weight: 700;
    text-transform: uppercase;
}
.collection-hero__image{
    object-position: 0% 50% !important;
}
.section_seperation{
    position: absolute;
    border-top: 1px solid #CECECE;
    top: calc(var(--gsc-heading-4-desktop-font-size)/1.5);
    left: 20%;
    width: 100vw;
    z-index: 0;
}

.filters__label{
    color: var(--color-black);
    align-items: center;
}
.collection_title{
    background: #fff;
    position: relative;
    width: fit-content;
    z-index: 1;
    padding-right: 35px;
    padding-bottom: 47px;
}
@media (max-width: 768px){
    .section_seperation{
        left: -20px;
    }
    .collection_title{
        margin: auto;
        padding: 0 20px 34px 20px;
    }
}
.filters__form .accordeon__content .checkbox__span--outline{
    border: 1px solid var(--color-black);
}
.filters__form .accordeon__content .filters__option-count{
    display: none;
}
.filters__form .accordeon__content .checkbox span{
    color: var(--color-black);
}
.filters__form accordeon-component .filters__label{
    justify-content: left;
    padding: 1em 0 1em;
}
.sidebar-filters--mobile .sidebar-filters__content .sidebar-filters__header{
    justify-content: left;
    flex-direction: row-reverse;
    column-gap: calc(100% / 2.5);
    border-bottom: 1px solid #E2E2E2;
}
.sidebar-filters--mobile .sidebar-filters__content .sidebar-filters__header .filters__results-count{
    display: none;
}
@media (max-width: 768px){
    .filters__form .filters__item.filters__item--bordered{
        border-top: 0;
        border-bottom: 1px solid #E2E2E2;
        border-top: 0 !important;
    }
}
.filters__form .filters__item.filters__item--bordered{
    border-top: 0;
    border-top: 1px solid #E2E2E2;
}
#ShopSortList .sidebar-sort-list .sort-list-sidebar__body .sort-list-sidebar__header{
    justify-content: left;
    flex-direction: row-reverse;
}
#ShopSortList .sidebar-sort-list .sort-list-sidebar__body .sort-list-sidebar__header{
    border-bottom: 1px solid #E2E2E2;
}
#ShopSortList .sidebar-sort-list .sort-list-sidebar__body .sort-list-sidebar__header sidebar-button{
    flex-basis: 43%;
}
#ShopSortList .sidebar-sort-list .sort-list-sidebar__body .sort-list-sidebar__form-wrap{
    align-items: flex-start;
    padding-top: 13%;
}
@media (min-width: 768px) and (max-width: 1023px){
    .product_benefits{
    }
    .collection_title{
    }
}
.product_benefits{

}
.product_featured_tag{

}


.product-card-hover-wrapper {
    padding: 3.5rem 2.5rem;
    position: relative;
}

.product-card-hover-wrapper h6 {
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: 5px;
    text-transform: uppercase;
}



.product-card-hover-wrapper .card-icon-wrapper {
    position: absolute;
    bottom: -2em;
    right: -2em;
    background: rgb(255, 255, 255, 50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.product-card-hover-wrapper .card-icon-wrapper img {
    height: 90px;
    width: 90px;
    object-fit: contain;
    position: absolute;
    bottom: 3.8em;
    z-index: 999;
    right: 3.8em;
}
