*{
    font-family: "BrownStd-Regular" !important;
}

/* Ingredients page breadcrumbs */

.breadcrumbs_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
@media (max-width: 768px){
    .breadcrumbs_container{
        padding-top: 30px !important;
        padding-bottom: 0 !important;
        padding-right: var(--gsc-container-padding);
        padding-left: var(--gsc-container-padding);
        align-items: flex-start;
    }
}
.breadcrumbs_container .redirection_link a{
    font-size: 24px;
    gap: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
@media (max-width: 374px){
    .breadcrumbs_container .redirection_link a{
        font-size: 20px !important;
    }
}
@media (min-width: 769px) and (max-width: 1023px){
    .breadcrumbs_container .redirection_link a{
        font-size: 15px;
    }
}
.breadcrumbs_container .redirection_link a{
    text-decoration: none;
    font-weight: 700;
}
.breadcrumbs_container .redirection_link .ingredient_page_back_button{
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
}
.other_ingredients_list_container{
    max-width: 70%;
}
@media (max-width: 768px){
    .other_ingredients_list_container{
        max-width: 100%;
    }
}
.ingredient_list_container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    overflow: auto;
}
@media (max-width: 767px){
    .ingredient_list_container {
        padding: 0 20px 0 0 !important;
    }
}
.ingredient_list_container.carousel__slide{
    min-width: fit-content;
    padding: 0 20px;
}
.ingredient_list_container .ingredient{
    font-size: 16px;
    color: #888888;
}
.ingredient_list_container .ingredient.active{
    color: #EA6852;
}
.ingredient_list__carousel{
    display: flex;
    align-items: center;
}
.ingredient_list__carousel .carousel-btn__icon path{
    color: #BEBEBE;
}
@media (max-width: 768px){
    .breadcrumbs_container{
        flex-direction: column;
    }
    .carousel-btn{
        display: none;
    }
    .ingredient_list__carousel .carousel__viewport{
        padding: 24px 0;
    }
}

/* Ingredients Description section */
.ingredients_description_section{
    border-bottom: 1px solid #E2E2E2;
}
.ingredient_description_container{
    margin: auto;
    padding: 40px 0;
}
.description_content p{
    line-height: 32px;
}
@media (max-width: 767px){
    .description_content p{
        line-height: 26px;
    }
}
.description_content.left_aligned{
    text-align: left;
}
.description_content.center_aligned{
    text-align: center;
}
.description_content.right_aligned{
    text-align: right;
}
@media (max-width: 768px){
    .ingredients_description_section{
        border: 0;
    }
    .ingredient_description_container{
        border-bottom: 1px solid #E2E2E2;
    }
}


/* Ingredients benefits section */
.ingredients_benefits_section{
    border-bottom: 1px solid #E2E2E2;
    padding-right: var(--gsc-container-padding);
}
@media (min-width: 769px){
    .ingredients_benefits_section{
        padding-right: 0;
    }
}
.ingredient_benefits_wrapper{
    margin: auto;
    padding: 40px 0;
}
.ingredient_benefits_container{
    display: flex;
}
@media (max-width: 768px){
    .ingredients_benefits_section{
        border: 0;
    }
    .ingredient_benefits_wrapper{
        border-bottom: 1px solid #E2E2E2;
    }
    .ingredient_benefits_container{
        flex-direction: column;
    }
}
.ingredient_benefits_container .benefits_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}
@media (max-width: 768px){
    .ingredient_benefits_container .benefits_list{
        margin-top: 30px;
        margin-left: 0;
        gap: 24px;
    }
}
.ingredient_benefits_container .benefits_title{
    text-transform: uppercase;
    color: #000000;
}
.ingredient_benefits_container .benefits_list .benefit{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}
@media (max-width: 768px){
    .ingredient_benefits_container .benefits_list .benefit{
        font-size: 14px;
    }
}

.ingredients_articles_section{
    margin: 40px auto;
}
.articles{
    list-style: none;
    padding-left: 0;
}
.articles .article_list{
    max-width: 70%;
}
@media (max-width: 768px){
    .articles .article_list{
        max-width: unset;
    }
}
.articles > .article_list::before{
    content: "";
    height: 24px;
    width: 18px;
    display: block; 
    list-style: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
    position: absolute;
}
.articles_title{
    margin-bottom: 58px;
    color: #000000;
}
.article_list p:first-child{
    margin-bottom: 20px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}
.article_list p:nth-child(2){
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.article_list div{
    margin-bottom: 42px;
    padding-left: 44px;
}
@media (max-width: 768px){
    .article_list p:first-child{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .article_list p:nth-child(2){
        font-size: 14px;
    }
    .article_list div{
        margin-bottom: 32px;
    }
}
@media (max-width: 767px){
    .collection__container{
        border-bottom: 0 !important;
        padding-bottom: 0;
    }
    .collection__card-carousel{
        border-bottom: 1px solid #E2E2E2;
    }
    .card-carousel__viewport{
        padding-bottom: var(--gsc-section-spacing-bottom,0);
    }
}
