@media screen and (min-width: 768px){
    .custom-product-details .product-accordion-dropdown{
        display: none;
    }
    .custom-product-details .product-details__tab-names {
        margin-bottom: 4.8rem;
        padding-bottom: 0;
        border-bottom: 1px solid #D9D9D9;
        column-gap: 0;
    }
    .custom-product-details .product-page-tabs .product-details__tab .text-container p.special_heading{
        margin-bottom: 30px;
    }
}
/* Custom Class - custom-product-details */
.custom-product-details .product-details__container{
    padding: 0;
}
.custom-product-details .product-page-tabs .product-details__tab-names .product-details__tab-name {
    margin-bottom: 0;
    color: #000000;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 42.3px;
    font-weight: 400;
    font-family: 'BrownStd-Regular';
}

.custom-product-details .product-page-tabs .product-details__tab-names .product-details__tab-name.selected {
    border-color: transparent;
}
.custom-product-details .product-page-tabs .product-details__tab-names .product-details__tab-name:not(.selected):hover{
    background: rgba(255, 255, 255, 0.68);
}

    /* Tabs Content Styles */
    .product-details .product-details__container .product-details__tab {
        max-height: fit-content !important;
    }

    .product-details .product-details__container .product-details__content-tab-content .product-details__rte.text-container {
        display: flex;
        flex-direction: row;
        column-gap: 5%;
        color: #000;
    }

    .product-details .product-details__container .product-details__content-tab-content .product-details__rte.text-container div {
        margin-top: 0;
        flex: 1 0 45%;
}

.custom-product-details .product-page-tabs .product-details__tab .text-container span{
    font-size: 14px;
    color: #000;
}

.custom-product-details .product-page-tabs .product-details__tab .text-container p{
    font-size: 16px;
    display: inline-block;
    color: #000;
}

@media screen and (min-width: 768px) {
    .custom-product-details .product-page-tabs .product-details__tab-names .product-details__tab-name {
        padding: 5px 35px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .custom-product-details,
    .bundles_page_tabChains{
        margin-top: 40px;
    }
}
@media screen and (max-width: 767px) {
    .custom-product-details{
        background-color: #FFF !important;
    }
    .custom-product-details .section-spacing{
        padding-top: 35px;
        padding-bottom: 40px;
    }
    .custom-product-details .product-details__container{
        padding: 0;
    }

        .custom-product-details .product-accordion-dropdown accordeon-component .product-details__rte{
            color: #252525;
        }

    /* Accordion Borders Start */
        .custom-product-details .product-accordion-dropdown accordeon-component[data-aria-expanded=true] accordeon-btn{
            border-bottom: 1px solid #D9D9D9;
            font-size: 16px !important;
        }
        .custom-product-details .product-accordion-dropdown accordeon-component accordeon-btn{
            color: #000;
        }

        .custom-product-details .product-accordion-dropdown accordeon-component:first-of-type{
            border-top: 1px solid #D9D9D9;
        }

        .custom-product-details .product-accordion-dropdown accordeon-component:last-of-type{
            border-bottom: 1px solid #D9D9D9;
        }
        .custom-product-details .product-accordion-dropdown accordeon-component accordeon-btn{
            font-size: 16px;
        }
        .custom-product-details.product-details .product-details__container .product-details__content-tab-content .product-details__rte.text-container{
            font-size: 14px !important;
        }
    /* Accordion Borders End */

    .custom-product-details .product-page-tabs {
        display: none;
    }

    .product-details .product-details__container .product-details__content-tab-content .product-details__rte.text-container {
        flex-direction: column;
        column-gap: 0;
    }

    .custom-product-details .product-accordion-dropdown accordeon-component[data-aria-expanded=true] accordeon-btn,
    .custom-product-details .product-page-tabs .product-details__tab .text-container span ,
    .custom-product-details .product-page-tabs .product-details__tab .text-container p{
        font-size: 14px;
    }
}